.container {
  width: 100%;
}

.jobsMainContainer {
  padding-top: 88px;
  padding-bottom: 88px;
}

.jobsContainer {
  max-width: 1200px;
  margin: auto;
  width: 100%;
  padding: 0;
}

.jobCardsContainer {
  flex-flow: wrap;
  display: flex;
  gap: 27.2px;
  /* max-width: 1200px; */
  /* width: 100%; */
}

.pageHeader {
  width: 100%;
  display: flex;
  flex-direction: column;
  background: linear-gradient(147deg, rgba(0,45,73,1) 0%, rgba(0,87,115,1) 25%, rgba(0,132,137,1) 50%);
  justify-content: center;
  text-align: center;
  align-items: center;

  @media (max-width: 767px) {
    
  }
  
  @media (min-width: 768px) and (max-width: 1023px) {
    
  }
  
  @media (min-width: 1024px) {
    height: 250px;
  }
}

.headerTitle {
  font-weight: 700;
  color: white;
  font-family: "Poppins", sans-serif;
  width: 80%;

  @media (max-width: 767px) {
    font-size: 24px;
    margin-top: 40px;
  }
  
  @media (min-width: 768px) and (max-width: 1023px) {
    font-size: 60px;
    padding: 15px 6px;
  }
  
  @media (min-width: 1024px) {
    font-size: 45px;
    /* margin-top: 40px; */
    margin-bottom: 40px;
  }
}

.headerText {
  font-weight: 500;
  color: white;
  font-family: "Poppins", sans-serif;
  width: 80%;

  @media (max-width: 767px) {
    font-size: 16px;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  
  @media (min-width: 768px) and (max-width: 1023px) {
    font-size: 60px;
    padding: 15px 6px;
  }
  
  @media (min-width: 1024px) {
    font-size: 14px;
    line-height: 150%;
    max-width: 600px;
    margin-bottom: 20px;
  }
}

.header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  margin: 40px 0px;
}

.leftContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.leftIcon {
  font-family: "Poppins", sans-serif;
  color: #005773;

  @media (max-width: 767px) {
    
  }
  
  @media (min-width: 768px) and (max-width: 1023px) {
    
  }
  
  @media (min-width: 1024px) {
    font-size: 30px;
    
  }
}

.leftText {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  color: #005773;

  @media (max-width: 767px) {
    
  }
  
  @media (min-width: 768px) and (max-width: 1023px) {
    
  }
  
  @media (min-width: 1024px) {
    font-size: 26px;
    
  }
}

.viewAllButton {
  border: none;
  background-color: #EBEBEB;
  color: #005773;
  font-family: "Poppins", sans-serif;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 8px;
  border-radius: 4px;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
} 

.viewAllButton:hover {
  background: #005773;
  color: white;
}

.searchIcon {
  font-size: 16px;
}