.storyContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  /* align-items: center; */
}

.quoteContainer {
  width: 100%;
  display: flex;
  align-content: center;
  justify-content: center;
  background: #EFF0F0;
}

.textBox {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 80%;
  padding: 50px 0px;
  
  @media (min-width: 768px) and (max-width: 1023px) {
    width: 70%;
  }
  
  @media (min-width: 1024px) {
    width: 70%;
    padding: 100px 0px;
  }
}

.quote {
  display: flex;
  align-content: center;
  justify-content: center;
  flex-direction: column;
  
  @media (min-width: 768px) {
    flex-direction: row;
  }
}

.quotationMark1, .quotationMark2 {
  color: #005773;
  font-size: 20px;
  
  @media (min-width: 768px) and (max-width: 1023px) {
    font-size: 30px;
  }
  
  @media (min-width: 1024px) {
    font-size: 40px;
  }
}

.quotationMark1 {
  display: flex;
}

.quotationMark2 {
  display: flex;
  justify-content: flex-end;
  
  @media (min-width: 768px) and (max-width: 1023px) {
    flex: none; 
    align-self: flex-end;
  }
  
  @media (min-width: 1024px) {
    flex: none; 
    align-self: flex-end;
  }
}

.quoteBox {
  display: flex;
  flex-direction: column;
  gap: 10px;
  
  @media (min-width: 768px) {
    gap: 20px;
  }
}

.quoteText {
  color: #002D49;
  font-weight: 600;
  line-height: 150%;
  font-size: 18px;
  padding: 0px 30px;
  padding-top: 20px;
  
  @media (min-width: 768px) and (max-width: 1023px) {
    font-size: 25px;
    padding: 0px 50px;
  }
  
  @media (min-width: 1024px) {
    font-size: 35px;
    padding: 0px 50px;
  }
}

.quoter {
  color: #002D49;
  font-weight: 600;
  font-size: 14px;
  padding: 0px 30px;
  
  @media (min-width: 768px) and (max-width: 1023px) {
    font-size: 18px;
    padding: 0px 50px;
  }
  
  @media (min-width: 1024px) {
    font-size: 20px;
    padding: 0px 50px;
  }
}

.aboutBox {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.aboutBox2 {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  @media (min-width: 1024px) {
    flex-direction: row;
  }
}

.aboutBox {
  margin-bottom: 40px;
  margin-top: 10px;
}

.aboutBox2 {
  background: #FFF7D6;
}

.headerContainer {
  width: 80%;
  text-align: center;
}

.header {
  color: #002D49;
  font-weight: 700;
  font-family: "Poppins", sans-serif;
  font-size: 22px;
  line-height: 125%;
  margin-top: 40px;
  
  @media (min-width: 768px) and (max-width: 1023px) {
    font-size: 30px;
    /* margin-bottom: 20px; */
  }
  
  @media (min-width: 1024px) {
    font-size: 45px;
    margin-top: 50px;
    /* margin-bottom: 20px; */
  }
}

.subheader {
  color: #002D49;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
  font-size: 22px;
  
  @media (min-width: 768px) and (max-width: 1023px) {
    font-size: 30px;
  }
  
  @media (min-width: 1024px) {
    font-size: 45px;
  }
}

.text1 {
  font-weight: 300;
  font-family: "Poppins", sans-serif;
  display: flex;
  text-align: left;
  font-size: 16px;
  line-height: 26px;
  gap: 15px;
  flex-direction: column;
  
  @media (min-width: 768px) and (max-width: 1023px) {
    line-height: 28px;
  }
  
  @media (min-width: 1024px) {
    font-size: 18px;
    line-height: 30px;
    flex-direction: row;
  }
}

.imageContainer1, .imageContainer2 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 85%;

  @media (min-width: 768px) and (max-width: 1023px) {
    width: 50%;
  }

  @media (min-width: 1024px) {
    width: 50%;
    /* padding: 30px; */
  }
}

.imageContainer1 {
  margin-bottom: 30px;
  margin-top: 30px;

  @media (min-width: 768px) and (max-width: 1023px) {
    width: 80%;
  }

  @media (min-width: 1024px) {
    width: 100%;
    height: 400px;
    object-fit: cover;
  }
}

.image {
  border-radius: 20px;
  height: 100%;
  width: 100%;

  @media (min-width: 768px) and (max-width: 1023px) {
    height: 90%;
    width: 90%;
  }

  @media (min-width: 1024px) {
    height: 400px;
    width: 80%;
    object-fit: cover;
  }
}

.imageContainer2{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 85%;
  margin-top: 20px;
  margin-bottom: 60px;

  @media (min-width: 768px) and (max-width: 1023px) {
    width: 80%;
    padding: 30px 0;
  }

  @media (min-width: 1024px) {
    width: 80%;
    padding: 30px 0;
    /* margin-bottom: 60px; */
  }
}

.textContainer {
  display: flex;
  justify-content: center;
  align-content: center;
  color: #002D49;
  flex-direction: column;
  width: 80%;
  padding: 20px 0px;
  gap: 30px;
  line-height: 30px;
  text-align: center;

  @media (min-width: 768px) and (max-width: 1023px) {
    padding: 20px 30px;
  }

  @media (min-width: 1024px) {
    flex-direction: column;
    width: 80%;
    padding: 20px 50px;
    gap: 30px;
    line-height: 40px;
    text-align: center;
  }
}


.text2 {
  font-weight: 300;
  font-family: "Poppins", sans-serif;
  display: flex;
  flex-direction: column;
  text-align: left;
  font-size: 16px;
  line-height: 26px;
  gap: 15px;
  
  @media (min-width: 768px) and (max-width: 1023px) {
    line-height: 28px;
  }
  
  @media (min-width: 1024px) {
    font-size: 18px;
    line-height: 30px;
    margin-bottom: 40px;
  }
}