/* general */

.navbar {
  width: 100%;
  z-index: 1000;
  overflow: hidden;
  height: 80px;
  justify-content: center;
  position: absolute;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  height: 100%;

  @media (max-width: 767px) {
    justify-content: center;
    width: 100%;
  }

  @media (min-width: 768px) {
    justify-content: space-between;
    align-items: center;
    margin-right: 10px;
    column-gap: 20px;
    margin-left: 10px;
  }
}

/* left side of navbar */

.left {
  display: flex !important;  
  gap: 10px;

  @media (max-width: 767px) {
    width: 90%;
    align-items: center;
    justify-content: space-between;
  }

  @media (min-width: 768px) {
    align-items: center;
  }
}

.home {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  @media (max-width: 767px) {
    gap: 5px;
  }

  @media (min-width: 768px) {
    gap: 5px;
  }
}

.menu1 {
  @media (max-width: 767px) {
    display: none;
  }
}

.menu2 {
  height: 100%;
  
  @media (max-width: 767px) {
    display: flex; 
  }

  @media (min-width: 768px) {
    display: none;
  }
}

.logo {
  width: auto;

  @media (max-width: 767px) {
    height: 60px;
  }
  
  @media (min-width: 768px) and (max-width: 1023px) {
    height: 60px;
  }
  
  @media (min-width: 1024px) {
    height: 70px;
  }
}

.companyNameContainer {
  display: flex;
  flex-direction: column;
  line-height: 18px;
}

.companyName1 {
  font-weight: 600;
}

.companyName2 {
  font-weight: 300;
}

.text {
  text-decoration: none;
  color: white;
}

/* middle of navbar */

.middle {
  flex-wrap: wrap;
  display: flex;
  justify-content: center;

  @media (max-width: 767px) {
    display: none;
  }
}

.links {
  display: flex;
  width: 100%;

  @media (min-width: 768px) and (max-width: 1023px) {
    /* column-gap: 80px; */
    gap: 35px;
  }
  
  @media (min-width: 1024px) {
    gap: 80px;
  }
}

.link, .titleLink {
  font-family: "Poppins", sans-serif;
  text-decoration: none;
  color: white;
  font-weight: 500;
  position: relative;
}

.link::after {
  content: '';
  position: absolute;
  top: 25px;
  left: 0;
  width: 0;
  height: 2px;
  background-color: #197089; /* Adjust the color as needed */
  transition: width 0.3s ease-in-out; /* Add a transition effect */
}

.link:hover::after {
  width: 100%; /* Expand the underline on hover */
}

/* right side of navbar */

.right {
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
}

.rightHidden {
  visibility: hidden;
  user-select: none;
}

.searchIcon {
  color: white;
  background-color: rgba(255, 255, 255, 0.08);
  border-radius: 50%;
  padding: 8px;
  cursor: pointer;

  @media (max-width: 767px) {
    display: none;
  }
  
  @media (min-width: 768px) and (max-width: 1023px) {
    font-size: 35px !important;

  }
  
  @media (min-width: 1024px) {
    font-size: 25px !important;
  }
}



