.purposeContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  /* align-items: center; */
}

.headerContent {
  position: relative;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.headerContainer {
  display: flex;
  width: 100%;
  height: auto;
  background: #002D49;
  position: relative;
  align-items: center;
  justify-content: center;

  @media (max-width: 767px) {
    flex-direction: column;
  }
  
  @media (min-width: 768px) and (max-width: 1023px) {
    flex-direction: row;

  }
  
  @media (min-width: 1024px) {
    flex-direction: row;
  }
}

.headerImageContainer {
  display: flex;
  position: inherit;

  @media (max-width: 767px) {
    height: auto;
    width: 100%;
  }

  @media (min-width: 768px) and (max-width: 1023px) {
    height: auto;
    width: 50%;
    order: 2;
  }

  @media (min-width: 1024px) {
    height: auto;
    width: 50%;
    order: 2;
  }
}

.headerImage {
  object-fit: cover;

  @media (max-width: 767px) {
    height: 250px;
    width: 100%;
  }

  @media (min-width: 768px) and (max-width: 1023px) {
    height: 300px;
    width: 100%;
  }

  @media (min-width: 1024px) {
    height: 500px;
    width: 100%;
  }
}

.headerTextContainer {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;

  @media (max-width: 767px) {
    width: 75%;
    padding: 50px 0px;
    gap: 30px;
  }

  @media (min-width: 768px) and (max-width: 1023px) {
    width: 50%;
    padding: 50px 0px;
    gap: 30px;
  }

  @media (min-width: 1024px) {
    width: 50%;
    padding: 50px 0px;
    gap: 50px;
  }
}

.mainHeader {
  font-family: "Poppins", sans-serif;
  font-weight: 700;

  @media (max-width: 767px) {
    font-size: 40px;
  }

  @media (min-width: 768px) and (max-width: 1023px) {
    font-size: 40px;
  }

  @media (min-width: 1024px) {
    font-size: 60px;
  }
}

.mainText {
  font-family: "Poppins", sans-serif;
  color: white;
  font-weight: 400;
  display: flex;

  @media (min-width: 768px) and (max-width: 1023px) {
    padding: 0 30px;
  }

  @media (min-width: 1024px) {
    padding: 0 30px;
    font-size: 18px;
    line-height: 30px;
  }
}

.services, .about, .testimonials {
  /* position: absolute; */
  z-index: 10;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  left: 0;
  right: 0;
  align-content: center;
  /* height: 100%; */
  text-align: center;
  flex-direction: column;

  @media (max-width: 767px) {
    
  }
}

.servicesContent, .aboutContent, .testimonialsContent {
  width: 80%;
}

.header1 {
  color: #002D49;
  font-weight: 700;
  font-family: "Poppins", sans-serif;

  @media (max-width: 767px) {
    font-size: 22px;
    line-height: 125%;
    margin-top: 40px;
    margin-bottom: 20px;
  }
  
  @media (min-width: 768px) and (max-width: 1023px) {
    font-size: 30px;
    line-height: 125%;
    margin-top: 40px;
    margin-bottom: 20px;
  }
  
  @media (min-width: 1024px) {
    font-size: 45px;
    line-height: 125%;
    margin-top: 40px;
    margin-bottom: 20px;
  }
}

.text {
  font-weight: 300;
  font-family: "Poppins", sans-serif;
  display: flex;
  flex-direction: column;
  gap: 15px;

  @media (max-width: 767px) {
    font-size: 14px;
    line-height: 20px;
  }
  
  @media (min-width: 768px) and (max-width: 1023px) {
    font-size: 16px;
    line-height: 24px;

  }
  
  @media (min-width: 1024px) {
    font-size: 18px;
    line-height: 26px;  
  }
}

.quoteContainer {
  width: 100%;
  display: flex;
  align-content: center;
  justify-content: center;
  background: #EFF0F0;
}

.textBox {
  display: flex;
  flex-direction: column;

  @media (max-width: 767px) {
    gap: 20px;
    width: 80%;
    padding: 50px 0px;
  }
  
  @media (min-width: 768px) and (max-width: 1023px) {
    gap: 20px;
    width: 70%;
    padding: 50px 0px;
  }
  
  @media (min-width: 1024px) {
    gap: 20px;
    width: 70%;
    padding: 100px 0px;
  }
}

.quote {
  display: flex;
  align-content: center;
  justify-content: center;

  
  @media (max-width: 767px) {
    flex-direction: column;
  }
  
  @media (min-width: 768px) {
    flex-direction: row;
  }
}

.quotationMark1, .quotationMark2 {
  color: #09B089;

  @media (max-width: 767px) {
    font-size: 20px;
  }
  
  @media (min-width: 768px) and (max-width: 1023px) {
    font-size: 30px;
  }
  
  @media (min-width: 1024px) {
    font-size: 40px;
  }
}

.quotationMark1 {
  display: flex;
  
    @media (max-width: 767px) {
      padding-left: 30px;
    }    
  }

.quotationMark2 {
  display: flex;

  @media (max-width: 767px) {
    justify-content: flex-end;
    padding-right: 30px;
  }
  
  @media (min-width: 768px) and (max-width: 1023px) {
    flex: none; 
    align-self: flex-end;
  }
  
  @media (min-width: 1024px) {
    flex: none; 
    align-self: flex-end;
  }
}

.quoteBox {
  display: flex;
  flex-direction: column;

  @media (max-width: 767px) {
    gap: 10px;
  }
  
  @media (min-width: 768px) {
    gap: 20px;
  }
}

.quoteText {
  color: #002D49;
  font-weight: 600;
  line-height: 150%;

  @media (max-width: 767px) {
    font-size: 18px;
    padding: 0px 30px;
    padding-top: 20px;
  }
  
  @media (min-width: 768px) and (max-width: 1023px) {
    font-size: 25px;
    padding: 0px 50px;
  }
  
  @media (min-width: 1024px) {
    font-size: 35px;
    padding: 0px 50px;
  }
}

.quoter {
  color: #002D49;
  font-weight: 600;

  @media (max-width: 767px) {
    font-size: 14px;
    padding: 0px 30px;
  }
  
  @media (min-width: 768px) and (max-width: 1023px) {
    font-size: 18px;
    padding: 0px 50px;
  }
  
  @media (min-width: 1024px) {
    font-size: 20px;
    padding: 0px 50px;
  }
}



.aboutBox {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;

  @media (max-width: 767px) {
    flex-direction: column;
    margin-bottom: 30px;
  }

  @media (min-width: 768px) and (max-width: 1023px) {
    flex-direction: column;
  }

  @media (min-width: 1024px) {
    flex-direction: row;
  }
}

.imageContainer1 {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;

  @media (max-width: 767px) {
    width: 85%;
    margin-top: 50px;
  }

  @media (min-width: 768px) and (max-width: 1023px) {
    width: 50%;
    margin-top: 50px;
  }

  @media (min-width: 1024px) {
    max-width: 400px;
    padding: 30px;
    height: 500px;
  }
}

.imageContainer1 {
  @media (min-width: 768px) and (max-width: 1023px) {
    /* order: 1; */
  }

  @media (min-width: 1024px) {
    order: 1;
    margin-right: 30px;
  }
}

.image {
  border-radius: 20px;
  object-fit: cover;

  @media (max-width: 767px) {
    height: 100%;
    width: 100%;
  }

  @media (min-width: 768px) and (max-width: 1023px) {
    height: 90%;
    width: 90%;
  }

  @media (min-width: 1024px) {
    height: 100%;
    width: 100%;
  }
}

.imageContainer2{
  display: flex;
  align-items: center;
  justify-content: center;

  @media (max-width: 767px) {
    width: 85%;
    margin-top: 50px;
  }

  @media (min-width: 768px) and (max-width: 1023px) {
    width: 50%;
    margin-top: 50px;
  }

  @media (min-width: 1024px) {
    width: 50%;
    padding: 80px;
  }
}

.image2 {
  border-radius: 20px;

  @media (max-width: 767px) {
    height: 100%;
    width: 100%;
  }

  @media (min-width: 768px) and (max-width: 1023px) {
    height: 80%;
    width: 80%;
  }

  @media (min-width: 1024px) {
    height: 50%;
    width: 50%;
  }
}

.textContainer {
  display: flex;
  justify-content: center;
  align-content: center;
  color: #002D49;

  @media (max-width: 767px) {
    flex-direction: column;
    width: 90%;
    padding: 20px 0px;
    gap: 30px;
    line-height: 30px;
    text-align: left;
  }

  @media (min-width: 768px) and (max-width: 1023px) {
    flex-direction: column;
    width: 80%;
    padding: 60px 30px;
    gap: 30px;
    line-height: 40px;
    text-align: left;
    align-items: center;
  }

  @media (min-width: 1024px) {
    flex-direction: column;
    width: 50%;
    padding: 100px 50px;
    gap: 30px;
    line-height: 50px;
    text-align: left;
  }
}

.header {
  font-family: "Poppins", sans-serif;
  font-weight: 700;

  @media (max-width: 767px) {
    font-size: 25px;
    text-align: center;
  }

  @media (min-width: 768px) and (max-width: 1023px) {
    font-size: 25px;
    text-align: center;

  }

  @media (min-width: 1024px) {
    font-size: 40px;
  }
}

.text2 {
  font-family: "Poppins", sans-serif;
  font-weight: 300;

  @media (min-width: 768px) and (max-width: 1023px) {
    font-size: 20px;
    line-height: 30px;
  }

  @media (min-width: 1024px) {
    font-size: 20px;
    line-height: 30px;
  }
}

/* .text2 {
  font-family: "Poppins", sans-serif;
  color: white;
  font-weight: 400;
  display: flex;

  @media (min-width: 1024px) {
    font-size: 20px;
    line-height: 30px;
  }
} */

.aboutHeader {
  color: #002D49;
  font-weight: 700;
  font-family: "Poppins", sans-serif;

  @media (max-width: 767px) {
    font-size: 22px;
    line-height: 125%;
    /* margin-top: 20px; */
    margin-bottom: 20px;
  }
  
  @media (min-width: 768px) and (max-width: 1023px) {
    font-size: 30px;
    line-height: 125%;
    margin-top: 40px;
    margin-bottom: 20px;
  }
  
  @media (min-width: 1024px) {
    font-size: 45px;
    line-height: 125%;
    margin-top: 40px;
    margin-bottom: 20px;
  }
}

.button {
  background-color: #00617C;
  color: white; 
  font-weight: 600;
  border-radius: 4px;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Poppins", sans-serif;
  cursor: pointer;
  transition: all 0.3s ease-in-out;

  @media (max-width: 767px) {
    font-size: 16px !important;
    padding: 15px 0;
    /* margin-bottom: 60px; */
    width: 100%;
  }
  
  @media (min-width: 768px) and (max-width: 1023px) {
    font-size: 20px !important;
    padding: 15px 0;
    width: 60%;
  }
  
  @media (min-width: 1024px) {
    font-size: 20px !important;
    padding: 15px 0;
    width: 60%;
  }
}

.button:hover {
  background-color: #002D49;
}

.about {
  flex-direction: column;
  align-items: center;

  @media (max-width: 767px) {
    margin-bottom: 60px;
  }
  
  @media (min-width: 768px) and (max-width: 1023px) {
    margin-bottom: 80px;
  }
  
  @media (min-width: 1024px) {
    margin-bottom: 80px;
  }
}

.aboutButton {
  background: #09B089;
  border: none;
  border-radius: 5px;
  color: white;
  font-weight: 800;
  font-family: "Poppins", sans-serif;
  line-height: 50px;
  margin-top: 40px;
  margin-bottom: 40px;
  cursor: pointer;

  @media (max-width: 1023px) {
    width: 300px;
    font-size: 16px;
  }

  @media (min-width: 1024px) {
    width: 250px;
    font-size: 18px;
  }
}

.testimonials {
  background: #EFF0F0;
}