.storyContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  /* align-items: center; */
}

.quoteContainer {
  width: 100%;
  display: flex;
  align-content: center;
  justify-content: center;
  background: #EFF0F0;
}

.textBox {
  display: flex;
  flex-direction: column;

  @media (max-width: 767px) {
    gap: 20px;
    width: 80%;
    padding: 50px 0px;
  }
  
  @media (min-width: 768px) and (max-width: 1023px) {
    gap: 20px;
    width: 70%;
    padding: 50px 0px;
  }
  
  @media (min-width: 1024px) {
    gap: 20px;
    width: 70%;
    padding: 100px 0px;
  }
}

.quote {
  display: flex;
  align-content: center;
  justify-content: center;

  
  @media (max-width: 767px) {
    flex-direction: column;
  }
  
  @media (min-width: 768px) {
    flex-direction: row;
  }
}

.quotationMark1, .quotationMark2 {
  color: #09B089;

  @media (max-width: 767px) {
    font-size: 20px;
  }
  
  @media (min-width: 768px) and (max-width: 1023px) {
    font-size: 30px;
  }
  
  @media (min-width: 1024px) {
    font-size: 40px;
  }
}

.quotationMark1 {
  display: flex;
  
    @media (max-width: 767px) {
      padding-left: 30px;
    }    

    @media (min-width: 768px) and (max-width: 1023px) {
      font-size: 30px;
    }
    
    @media (min-width: 1024px) {
      font-size: 40px;
    }
  }

.quotationMark2 {
  display: flex;

  @media (max-width: 767px) {
    justify-content: flex-end;
    padding-right: 30px;
  }
  
  @media (min-width: 768px) and (max-width: 1023px) {
    flex: none; 
    align-self: flex-end;
  }
  
  @media (min-width: 1024px) {
    top: 100px;
  }
}

.quoteBox {
  display: flex;
  flex-direction: column;

  @media (max-width: 767px) {
    gap: 10px;
  }
  
  @media (min-width: 768px) {
    gap: 20px;
  }
}

.quoteText {
  color: #002D49;
  font-weight: 600;
  line-height: 150%;

  @media (max-width: 767px) {
    font-size: 18px;
    padding: 0px 30px;
    padding-top: 20px;
  }
  
  @media (min-width: 768px) and (max-width: 1023px) {
    font-size: 25px;
    padding: 0px 50px;
  }
  
  @media (min-width: 1024px) {
    font-size: 35px;
    padding: 0px 50px;
  }
}

.quoter {
  color: #002D49;
  font-weight: 600;

  @media (max-width: 767px) {
    font-size: 14px;
    padding: 0px 30px;
  }
  
  @media (min-width: 768px) and (max-width: 1023px) {
    font-size: 18px;
    padding: 0px 50px;
  }
  
  @media (min-width: 1024px) {
    font-size: 20px;
    padding: 0px 50px;
  }
}



.aboutBox {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.aboutBox2 {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;

  @media (max-width: 767px) {
    flex-direction: column;
  }

  @media (min-width: 768px) and (max-width: 1023px) {
    flex-direction: column;
  }

  @media (min-width: 1024px) {
    flex-direction: row;
  }
}

.aboutBox {

  @media (max-width: 767px) {
    margin-bottom: 40px;
    margin-top: 10px;
  }

  @media (min-width: 768px) and (max-width: 1023px) {
    margin-bottom: 40px;
    margin-top: 10px;
  }

  @media (min-width: 1024px) {
    margin-bottom: 40px;
    margin-top: 10px;
  }
}

.aboutBox2 {
  background: #FFF7D6;
}

.headerContainer {
  width: 80%;
  text-align: center;
}

.header {
  color: #002D49;
  font-weight: 700;
  font-family: "Poppins", sans-serif;

  @media (max-width: 767px) {
    font-size: 22px;
    line-height: 125%;
    margin-top: 40px;
    /* margin-bottom: 20px; */
  }
  
  @media (min-width: 768px) and (max-width: 1023px) {
    font-size: 30px;
    line-height: 125%;
    margin-top: 40px;
    /* margin-bottom: 20px; */
  }
  
  @media (min-width: 1024px) {
    font-size: 45px;
    line-height: 125%;
    margin-top: 50px;
    /* margin-bottom: 20px; */
  }
}

.subheader {
  color: #002D49;
  font-weight: 500;
  font-family: "Poppins", sans-serif;

  @media (max-width: 767px) {
    font-size: 22px;
  }
  
  @media (min-width: 768px) and (max-width: 1023px) {
    font-size: 30px;

  }
  
  @media (min-width: 1024px) {
    font-size: 45px;
  }
}

.text1 {
  font-weight: 400;
  font-family: "Poppins", sans-serif;
  display: flex;
  text-align: left;

  @media (max-width: 767px) {
    font-size: 16px;
    line-height: 26px;
    gap: 15px;
    flex-direction: column;
  }
  
  @media (min-width: 768px) and (max-width: 1023px) {
    font-size: 18px;
    line-height: 28px;
    gap: 15px;
    flex-direction: column;
  }
  
  @media (min-width: 1024px) {
    font-size: 20px;
    line-height: 30px;
    gap: 15px;
    flex-direction: row;
  }
}

.imageContainer1, .imageContainer2 {
  display: flex;
  align-items: center;
  justify-content: center;

  @media (max-width: 767px) {
    width: 85%;
  }

  @media (min-width: 768px) and (max-width: 1023px) {
    width: 50%;
  }

  @media (min-width: 1024px) {
    width: 50%;
    /* padding: 30px; */
  }
}

.imageContainer1 {

  @media (max-width: 767px) {
    margin-bottom: 30px;
    margin-top: 30px;
  }

  @media (min-width: 768px) and (max-width: 1023px) {
    margin-bottom: 30px;
    margin-top: 30px;
    width: 80%;
  }

  @media (min-width: 1024px) {
    margin-bottom: 30px;
    margin-top: 30px;
    width: 100%;
    height: 400px;
    object-fit: cover;
  }
}

.image {
  border-radius: 20px;

  @media (max-width: 767px) {
    height: 100%;
    width: 100%;
  }

  @media (min-width: 768px) and (max-width: 1023px) {
    height: 90%;
    width: 90%;
  }

  @media (min-width: 1024px) {
    height: 400px;
    width: 80%;
    object-fit: cover;
  }
}

.imageContainer2{
  display: flex;
  align-items: center;
  justify-content: center;

  @media (max-width: 767px) {
    width: 85%;
    margin-top: 20px;
    margin-bottom: 60px;
  }

  @media (min-width: 768px) and (max-width: 1023px) {
    width: 80%;
    padding: 30px 0;
    margin-bottom: 60px;
  }

  @media (min-width: 1024px) {
    width: 80%;
    padding: 30px 0;
    /* margin-bottom: 60px; */
  }
}

.textContainer {
  display: flex;
  justify-content: center;
  align-content: center;
  color: #002D49;

  @media (max-width: 767px) {
    flex-direction: column;
    width: 80%;
    padding: 20px 0px;
    gap: 30px;
    line-height: 30px;
    text-align: center;
  }

  @media (min-width: 768px) and (max-width: 1023px) {
    flex-direction: column;
    width: 80%;
    padding: 20px 30px;
    gap: 30px;
    line-height: 30px;
    text-align: center;
  }

  @media (min-width: 1024px) {
    flex-direction: column;
    width: 80%;
    padding: 20px 50px;
    gap: 30px;
    line-height: 40px;
    text-align: center;
  }
}


.text2 {
  font-weight: 400;
  font-family: "Poppins", sans-serif;
  display: flex;
  flex-direction: column;
  text-align: left;

  @media (max-width: 767px) {
    font-size: 16px;
    line-height: 26px;
    gap: 15px;
  }
  
  @media (min-width: 768px) and (max-width: 1023px) {
    font-size: 18px;
    line-height: 28px;
    gap: 15px;
  }
  
  @media (min-width: 1024px) {
    font-size: 20px;
    line-height: 30px;
    gap: 15px;
    margin-bottom: 40px;
  }
}

.expertise {
  display: flex;
  
  align-items: center;
  justify-content: center;
  align-content: center;

  @media (max-width: 767px) {
    flex-direction: column;
  }
  
  @media (min-width: 768px) and (max-width: 1023px) {
    flex-direction: row;
  }
  
  @media (min-width: 1024px) {
    flex-direction: row;
  }
}

.expertise {

  @media (max-width: 767px) {
    margin-top: 20px;
  }
  
  @media (min-width: 768px) and (max-width: 1023px) {
    margin-top: 40px;
  }
  
  @media (min-width: 1024px) {
    margin-top: 60px;
  }
}

.cardContainer {
  display: flex;
  
  text-decoration: none;
  align-items: center;
  justify-content: center;

  @media (max-width: 767px) {
    width: 80%;
  }
  
  @media (min-width: 768px) and (max-width: 1023px) {
    width: 80%;
  }
  
  @media (min-width: 1024px) {
    width: 500px;
  }
}

.card {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2) !important;
  border-radius: 8px;

  @media (max-width: 767px) {
    height: 360px;
    margin-top: 20px;
    margin-bottom: 80px;
    width: 100%;
  }
  
  @media (min-width: 768px) and (max-width: 1023px) {
    width: 400px;
    height: 400px;
    margin-top: 20px;
    margin-bottom: 80px;
    width: 100%;
  }
  
  @media (min-width: 1024px) {
    width: 100%;
    height: 400px;
    margin-top: 20px;
    margin-bottom: 80px;
  }
}

.cardImageContainer {
  position: relative;
  overflow: hidden;
  box-shadow: 0px 8px 24px rgba(62, 53, 82, 0.3);
  border-radius: 8px;

  @media (max-width: 767px) {
    height: 350px;
    width: 85%;
  }

  @media (min-width: 768px) and (max-width: 1023px) {
    height: 250px;
  }

  @media (min-width: 1024px) {
    height: 250px;
  }
}

.cardImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-content: center;
}

.cardText {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  color: #002D49;
  text-align: center;

  @media (max-width: 767px) {
    font-size: 20px;
    margin-top: 40px;
    line-height: 30px;
    margin-bottom: 20px;
  }

  @media (min-width: 768px) and (max-width: 1023px) {
    font-size: 26px;
    margin-top: 60px;
    line-height: 30px;
    margin-bottom: 60px;
  }

  @media (min-width: 1024px) {
    font-size: 26px;
    margin-top: 60px;
    line-height: 30px;
    margin-bottom: 60px;
  }
}

.cardText:hover {
  color: #00617C;
}

.expertiseTextContainer {
  display: flex;
  flex-direction: column;
  width: 85%;

  @media (max-width: 767px) {
    order: 2;
  }

  @media (min-width: 768px) and (max-width: 1023px) {
    
  }

  @media (min-width: 1024px) {
    
  }
}

.expertiseHeader {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  color: #002D49;

  @media (max-width: 767px) {
    font-size: 40px;
    margin-top: 40px;
    line-height: 40px;
    margin-bottom: 20px;
    text-align: left;
    display: flex;
    flex-direction: column;
  }

  @media (min-width: 768px) and (max-width: 1023px) {
    font-size: 36px;
    margin-top: 40px;
    line-height: 45px;
    width: 100%;
    margin-bottom: 20px;
  }

  @media (min-width: 1024px) {
    font-size: 38px;
    margin-top: 40px;
    line-height: 50px;
    width: 100%;
    margin-bottom: 20px;
  }
}

.expertiseText {
  color: #002D49;
  font-weight: 300;


  @media (max-width: 767px) {
    font-size: 16px;
    margin-top: 20px;
  }

  @media (min-width: 768px) and (max-width: 1023px) {
    font-size: 18px;
    margin-top: 24px;
    margin-bottom: 20px;
    text-align: center;
    width: 80%;
  }

  @media (min-width: 1024px) {
    font-size: 20px;
    margin-top: 30px;
    margin-bottom: 20px;
    text-align: center;
    width: 60%;
  }
}

.listContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  justify-content: center;
  align-content: center;
}

.list {
  display: flex;

  text-align: left;
}

.listHeader {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  color: #002D49;

  @media (max-width: 767px) {
    font-size: 26px;
    margin-top: 40px;
    line-height: 35px;
    margin-bottom: 20px;
    text-align: left;
    display: flex;
    flex-direction: column;
    width: 85%;
  }

  @media (min-width: 768px) and (max-width: 1023px) {
    font-size: 36px;
    margin-top: 40px;
    line-height: 45px;
    width: 100%;
    margin-bottom: 20px;
  }

  @media (min-width: 1024px) {
    font-size: 38px;
    margin-top: 40px;
    line-height: 50px;
    width: 100%;
    margin-bottom: 20px;
  }
}

.listHeader2 {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  color: #002D49;
  font-style: italic;
  align-self: flex-start;

  @media (max-width: 767px) {
    font-size: 20px;
    margin-top: 20px;
    text-align: left;
  }

  @media (min-width: 768px) and (max-width: 1023px) {
    font-size: 36px;
    margin-top: 40px;
    line-height: 45px;
    width: 100%;
    margin-bottom: 20px;
  }

  @media (min-width: 1024px) {
    font-size: 38px;
    margin-top: 40px;
    line-height: 50px;
    width: 100%;
    margin-bottom: 20px;
  }
}

.list {
  display: flex;
  
  @media (max-width: 767px) {
    width: 85%;
    margin-bottom: 20px;
  }
}

.listSubHeader {
  align-self: flex-start;
  color: #008489;
  font-weight: 600;

  @media (max-width: 767px) {
    font-size: 18px;

  }

  @media (min-width: 768px) and (max-width: 1023px) {
    font-size: 36px;

  }

  @media (min-width: 1024px) {
    font-size: 38px;

  }
}

.list li {
  text-align: left;
  align-self: flex-start;
  font-weight: 300;

  @media (max-width: 767px) {
    padding: 10px 0px;
  }
}

.list li::marker {
  color: #09B089; /* Color for the bullet point */
}

.button {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  background-color: #09B089;
  color: white;
  display: flex;
  align-items: center;
  border: solid 1px white;
  border-radius: 4px;
  cursor: pointer;
  justify-content: center;

  @media (max-width: 767px) {
    font-size: 16px;
    line-height: 30px;
    padding: 10px 50px;
    margin-bottom: 40px;
    width: 100%;
    margin-top: 40px;
  }

  @media (min-width: 768px) and (max-width: 1023px) {
    font-size: 20px;
    line-height: 30px;
    padding: 10px 50px;
    margin-bottom: 40px;
    width: 100%;
  }

  @media (min-width: 1024px) {
    font-size: 22px;
    line-height: 30px;
    padding: 10px 50px;
    margin-bottom: 40px;
    width: 100%;
  }
}

.testimonials, .services {
  /* position: absolute; */
  z-index: 10;
  display: flex;
  flex-wrap: wrap;
  /* margin: auto; */
  justify-content: center;
  left: 0;
  right: 0;
  align-content: center;
  /* height: 100%; */
  text-align: center;
  background: #EFF0F0;
}

.testimonialsContent, .servicesContent {
  width: 80%;
}

.header {
  color: #002D49;
  font-weight: 700;
  font-family: "Poppins", sans-serif;

  @media (max-width: 767px) {
    font-size: 22px;
    line-height: 125%;
    margin-top: 40px;
    margin-bottom: 20px;
  }
  
  @media (min-width: 768px) and (max-width: 1023px) {
    font-size: 30px;
    line-height: 125%;
    margin-top: 40px;
    margin-bottom: 20px;
  }
  
  @media (min-width: 1024px) {
    font-size: 45px;
    line-height: 125%;
    margin-top: 40px;
    margin-bottom: 20px;
  }
}

.button:hover {
  color: white;
  background-color: #00617C;
}

.consultation {
  background-color: #09B089;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;

  @media (max-width: 767px) {
    height: 420px;
    gap: 20px;
  }

  @media (min-width: 768px) and (max-width: 1023px) {
    height: 450px;
    gap: 30px;
  }

  @media (min-width: 1024px) {
    height: 500px;
    gap: 30px;
  }
}

.consultationHeader {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  color: white;
  text-align: center;
  display: flex;

  @media (max-width: 767px) {
    font-size: 24px;
    padding-top: 30px;
    line-height: 30px;
    flex-direction: column;
  }

  @media (min-width: 768px) and (max-width: 1023px) {
    font-size: 34px;
    padding-top: 40px;
    line-height: 40px;
    gap: 10px;
  }

  @media (min-width: 1024px) {
    font-size: 40px;
    /* padding-top: 40px; */
    line-height: 40px;
    gap: 10px;
  }
}

.consultationText{
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  color: white;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;

  @media (max-width: 767px) {
    font-size: 16px;
    line-height: 25px;
    flex-direction: column;
    width: 70%;
  }

  @media (min-width: 768px) and (max-width: 1023px) {
    font-size: 20px;
    line-height: 30px;
    width: 70%;
  }

  @media (min-width: 1024px) {
    font-size: 24px;
    /* padding-top: 40px; */
    line-height: 35px;
    width: 70%;
  }
}

.consultationButtonAnchor1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  @media (max-width: 767px) {
    width: 100%;
  }

  @media (min-width: 768px) and (max-width: 1023px) {
    width: 70%;
    margin-top: 10px;
  }

  @media (min-width: 1024px) {
    width: 50%;
    margin-top: 10px;
  }
}

.consultationButtonAnchor2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  @media (max-width: 767px) {
    width: 90%;
  }

  @media (min-width: 768px) and (max-width: 1023px) {
    width: 40%;
    margin-top: 10px;
  }

  @media (min-width: 1024px) {
    width: 30%;
    margin-top: 10px;
  }
}

.consultationButton {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  color: #09B089;
  display: flex;
  align-items: center;
  background: white;
  border: solid 1px white;
  border-radius: 4px;
  cursor: pointer;
  text-align: center;
  width: 100%;
  justify-content: center;


  @media (max-width: 767px) {
    font-size: 16px;
    line-height: 30px;
    padding: 10px 50px;
    margin-bottom: 40px;
  }

  @media (min-width: 768px) and (max-width: 1023px) {
    font-size: 20px;
    line-height: 30px;
    padding: 10px 50px;
    margin-bottom: 40px;
  }

  @media (min-width: 1024px) {
    font-size: 22px;
    line-height: 30px;
    padding: 15px 50px;
    /* margin-bottom: 40px; */
  }
}

.consultationButton:hover {
  color: white;
  background: none;
}

.list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-content: center;

  @media (max-width: 767px) {
  }
  
  @media (min-width: 768px) and (max-width: 1023px) {
  }
  
  @media (min-width: 1024px) {
  }
}

.text {
  font-weight: 300;
  font-family: "Poppins", sans-serif;

  @media (max-width: 767px) {
    font-size: 16px;
  }
  
  @media (min-width: 768px) and (max-width: 1023px) {
    font-size: 16px;
  }
  
  @media (min-width: 1024px) {
    font-size: 18px;
  }
}