.form {
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 100%;

  @media (max-width: 767px) {
    gap: 20px;
  } 

  @media (min-width: 768px) and (max-width: 1023px) {
    gap: 20px;
  }

  @media (min-width: 1024px) {
    gap: 20px;
  }
}

.inputContainer {
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;

  @media (max-width: 767px) {
    gap: 5px;
    margin-bottom: 10px;
  }

  @media (min-width: 768px) and (max-width: 1023px) {
    gap: 5px;
  }
  
  @media (min-width: 1024px) {
    gap: 5px;
  }
}

.inputTitle {
  font-weight: 600;
  width: 100%;
  font-family: "Poppins", sans-serif;

  @media (max-width: 767px) {
    /* margin-left: 10px; */
  }

  @media (min-width: 768px) and (max-width: 1023px) {
    margin-left: 10px;
  }
  
  @media (min-width: 1024px) {
    margin-left: 10px;
  }
}

.inputBox {
  background-color: white;
  border: none;
  width: 100%;
  outline: none;
  font-weight: 300;
  font-family: "Poppins", sans-serif;
  display: flex;
  /* align-items: center; */

  @media (max-width: 767px) {
    flex-direction: column;
  }

  @media (min-width: 768px) and (max-width: 1023px) {
    flex-direction: column;
    font-size: 25px;
    line-height: 50px;
    padding: 0 10px;
  }
  
  @media (min-width: 1024px) {
    flex-direction: column;
    font-size: 25px;
    line-height: 50px;
    padding: 0 15px;
  }
}

.input {
  background-color: white;
  border: none;
  font-weight: 300;
  font-family: "Poppins", sans-serif;

  @media (max-width: 767px) {
    font-size: 25px;
    padding: 10px;
  }

  @media (min-width: 768px) and (max-width: 1023px) {
    
  }
  
  @media (min-width: 1024px) {
    
  }
}

.messageBox {
  background-color: white;
  border: none;
  width: 100%;
  display: flex;
  align-items: flex-start;

  @media (max-width: 767px) {
    min-height: 200px;
  }

  @media (min-width: 768px) and (max-width: 1023px) {
    padding: 0 10px;
    min-height: 250px;
  }
  
  @media (min-width: 1024px) {
    padding: 0 15px;
    min-height: 250px;
  }
}

.message {
  height: 100%;
  width: 100%;
  border: none;
  outline: none;
  font-weight: 300;
  font-family: "Poppins", sans-serif;

  @media (max-width: 767px) {
    padding: 10px;
    font-size: 18px;
    min-height: 200px;
  }

  @media (min-width: 768px) and (max-width: 1023px) {
    padding-top: 10px;
    font-size: 18px;
    line-height: 50px;
  }
  
  @media (min-width: 1024px) {
    padding-top: 10px;
    font-size: 18px;
    line-height: 50px;
  }
}

.checkboxContainer {
  display: flex;
  flex-direction: row;

  @media (max-width: 767px) {
    gap: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
  }

  @media (min-width: 768px) and (max-width: 1023px) {
    gap: 10px;
  }

  @media (min-width: 1024px) {
    gap: 10px;
  }
}

.errorMessage {
  color: red;
  text-align: left;
  width: 100%;
  font-family: "Poppins", sans-serif;

  @media (max-width: 767px) {
    margin-top: 5px;
  }

  @media (min-width: 768px) and (max-width: 1023px) {
    margin-left: 10px;
    margin-top: 5px;
  }

  @media (min-width: 1024px) {
    margin-left: 10px;
    margin-top: 5px;
  }
}

.error {
  color: red;
}

.buttonContainer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
}

.button {
  background-color: #09B089;
  color: white;
  padding: 10px 45px;
  border: none;
  font-weight: 600;
  cursor: pointer;
  font-family: "Poppins", sans-serif;

  @media (max-width: 767px) {
    font-size: 16px;
    /* margin-bottom: 20px; */
  }

  @media (min-width: 768px) and (max-width: 1023px) {
    font-size: 20px;
    margin-top: 20px;
  }
}

.successMessageContainer {
  width: 100%;
  text-align: center;
  
  @media (max-width: 767px) {
    margin-bottom: 20px;
  }

  @media (min-width: 768px) and (max-width: 1023px) {

  }
}

.successMessage {
  font-weight: 400;
  font-family: "Poppins", sans-serif;

  @media (max-width: 767px) {

  }

  @media (min-width: 768px) and (max-width: 1023px) {

  }
}