.containerBorder {
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #d6d6d6;
  border-top: 1px solid #d6d6d6;
}

.container {
  padding: 12px 0;
  display: flex;
  flex-direction: row;
  width: 90%;
}

.filtersHeader {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
}

.filtersHeader span {
  display: flex;
  flex-direction: row;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  color: #002D49;
  font-size: 18px;
}

.filterIcon {
  color: #002D49;
  font-size: 20px;
}

.verticalLine {
  border-left: solid 1px #807d7dd7;
  height: 30px;
  margin: auto;
  opacity: 0.6;
  margin-right: 20px;
}

.filtersContainer {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.filter {
  display: flex;
  flex-direction: row;
  background-color: #EFF0F0;
}

/* CustomDropdown.module.css */
.contractTypeDropdownContainer {
  position: relative;
  display: inline-block;
}

.dropdownButton {
  background-color: #EFF0F0;
  border: none;
  padding: 8px 10px;
  cursor: pointer;
  border-radius: 4px;
  display: flex;
  align-items: center;
  transition: all 0.3s ease-in-out;
  font-family: "Poppins", sans-serif;
  color: #002D49;
}

.filterCount {
  color: white;
  background-color: #09B089;
  padding: 0px 6px;
  border-radius: 2px;
  text-align: center;
  margin-left: 10px;
  font-weight: 600;
  font-size: 14px;
}

.dropdownButtonActive {
  background-color: #002D49;
  color: white;
  border: none;
  padding: 8px 10px;
  cursor: pointer;
  border-radius: 4px;
  display: flex;
  align-items: center;
  transition: all 0.3s ease-in-out;
  font-family: "Poppins", sans-serif;
}

.dropdownButton:hover {
  background-color: #d7d8d8;
}

.dropdownMenu {
  position: absolute;
  background-color: white;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  margin-top: 8px;
  z-index: 1;
  width: 150%;
}

.dropdownItem {
  display: flex;
  align-items: center;
  padding: 8px;
  cursor: pointer;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
}

.dropdownItem span {
  background-color: #09B089;
  color: white;
  font-weight: 500;
  border-radius: 10px;
  font-size: 11px;
  margin-left: 10px;
  height: 18px;
  width: 26px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dropdownItem:hover {
  background-color: #f1f1f1;
}

.dropdownItem input {
  margin-right: 8px;
}

.dropdownItem input[type='checkbox'] {
  accent-color: #008489;
}

.clockIcon {
  transform: translateY(-1px);
  margin-right: 8px;
}

.arrow {
  margin-left: 10px; /* Space between text and arrow */
  transform: rotate(90deg) translateX(-1px);
  font-size: 16px;
}

.arrow.open {
  transform: rotate(270deg); /* Rotate arrow when dropdown is open */
}

.dropdownActions{ 
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px;
  border-top: 1px solid #d6d6d6;
}

.applyButton {
  font-weight: 600;
  background-color: #09B089;
  color: white;
  border-radius: 4px;
  border: none;
  font-family: "Poppins", sans-serif;
  padding: 8px 15px;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

.applyButton:hover {
  background-color: #008489;
}

.resetButton {
  border: none;
  background: none;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

.resetButton:hover {
  color: #005773;
}
