.filtersContainer {
  padding: 12px 0;
  border-bottom: 1px solid #d6d6d6;
  border-top: 1px solid #d6d6d6;
  display: flex;
  flex-direction: row;
}

.filtersHeader {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
}

.filtersHeader span {
  display: flex;
  flex-direction: row;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  color: #005773;
  font-size: 18px;
}

.filterIcon {
  color: #005773;
  font-size: 20px;
}

.verticalLine {
  border-left: solid 1px #807d7dd7;
  height: 30px;
  margin: auto;
  opacity: 0.6;
}

.filter {
  display: flex;
  flex-direction: row;
  background-color: #EFF0F0;
}

/* CustomDropdown.module.css */
.dropdownContainer {
  position: relative;
  display: inline-block;
}

.dropdownButton {
  background-color: white;
  border: 1px solid #ccc;
  padding: 8px 16px;
  cursor: pointer;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.dropdownMenu {
  position: absolute;
  background-color: white;
  border: 1px solid #ccc;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  margin-top: 8px;
  z-index: 1;
  width: 100%;
}

.dropdownItem {
  display: flex;
  align-items: center;
  padding: 8px;
  cursor: pointer;
}

.dropdownItem:hover {
  background-color: #f1f1f1;
}

.dropdownItem input {
  margin-right: 8px;
}

