.icon {
  color: white;
  background-color: rgba(255, 255, 255, 0.08);
  border-radius: 5px;
  cursor: pointer;

  @media (max-width: 767px) {
    font-size: 30px !important;
  }
  
  @media (min-width: 768px) and (max-width: 1023px) {
    font-size: 35px !important;

  }
  
  @media (min-width: 1024px) {
    font-size: 35px !important;
  }
}