.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #002D49;
  padding-bottom: 50px !important;
}

.imageContainer {
  width: 100%;
  display: flex;
  justify-content: center;
}

.textContainer {
  padding: 20px;
  text-align: center;

  @media (max-width: 767px) {
    width: 80%;
  }
  
  @media (min-width: 768px) {
    width: 100%;
  }
}

.quote {
  color: white;
  font-weight: 700;
  font-family: "Poppins", sans-serif;
  line-height: 32px;
  

  @media (max-width: 767px) {
    font-size: 24px;
  }
  
  @media (min-width: 768px) and (max-width: 1023px) {
    font-size: 26px;
  }
  
  @media (min-width: 1024px) {
    font-size: 35px;
  }
}

.quoter, .text {
  margin-top: 10px;
  color: white;
  font-weight: 300;
  font-family: "Poppins", sans-serif;
  line-height: 25px;

  @media (max-width: 1023px) {
    font-size: 16px;
  }
}

.text {
  margin-top: 20px;
}

.button {
  background: #09B089;
  border: none;
  border-radius: 5px;
  color: white;
  font-weight: 800;
  font-family: "Poppins", sans-serif;
  line-height: 50px;
  margin-top: 30px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  padding: 2px 80px;

  @media (max-width: 767px) {
    font-size: 16px;
  }
  
  @media (min-width: 768px) and (max-width: 1023px) {
    font-size: 18px;
    /* margin-bottom: 10px; */
  }

  @media (min-width: 1024px) {
    font-size: 18px;
  }
}

.button:hover {
  background-color: #008489;
}

@media (min-width: 768px) {
  .container {
    flex-direction: row;
  }
  
  .imageContainer, .textContainer {
    width: 50%;
  }

  .textContainer {
    text-align: left;
    padding: 40px;
  }
}
