.container {
  background: #002D49;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #002D49;
}

.imageContainer {
  width: 100%;
  display: flex;
  justify-content: center;
}

.textContainer {
  @media (max-width: 767px) {
    padding: 0 30px;
  }
  
  @media (min-width: 768px) and (max-width: 1023px) {
    padding-right: 30px;
  }
  
  @media (min-width: 1024px) {
    padding-right: 30px;
  }
}

.quote {
  color: white;
  font-weight: 700;
  font-family: "Poppins", sans-serif;
  line-height: 32px;
  

  @media (max-width: 767px) {
    font-size: 24px;
    width: 70%;
  }
  
  @media (min-width: 768px) and (max-width: 1023px) {
    width: 75%;
    font-size: 26px;
  }
  
  @media (min-width: 1024px) {
    width: 75%;
    font-size: 35px;
  }
}

.quoter, .text {
  color: white;
  font-weight: 300;
  font-family: "Poppins", sans-serif;
  line-height: 25px;

  @media (max-width: 1023px) {
    font-size: 16px;
  }

  @media (min-width: 1024px) {

  }
}

.quoter {
  padding: 20px 0;
}

.button {
  background: #09B089;
  border: none;
  border-radius: 5px;
  color: white;
  font-weight: 800;
  font-family: "Poppins", sans-serif;
  line-height: 50px;
  margin-top: 30px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  padding: 2px 80px;

  @media (max-width: 767px) {
    font-size: 16px;
  }
  
  @media (min-width: 768px) and (max-width: 1023px) {
    font-size: 18px;
    /* margin-bottom: 10px; */
  }

  @media (min-width: 1024px) {
    font-size: 18px;
  }
}

.button:hover {
  background-color: #008489;
}

.imageContainer {
  display: flex;
}

.image {

  @media (max-width: 1023px) {
    width: 400px;
    height: 400px;
  }

  @media (min-width: 1024px) {
    width: 600px;
    height: 600px;
  }
}