.container {
  background: #002D49;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;

  @media (min-width: 768px) {
    flex-direction: row;
  }
}

.textContainer {
  padding: 0 30px;
  
  @media (min-width: 768px) and (max-width: 1023px) {
    padding-right: 30px;
  }
  
  @media (min-width: 1024px) {
    padding-right: 30px;
  }
}

.quote {
  color: white;
  font-weight: 700;
  font-family: "Poppins", sans-serif;
  line-height: 32px;
  font-size: 24px;
  width: 70%;
  
  @media (min-width: 768px) and (max-width: 1023px) {
    width: 75%;
    font-size: 26px;
  }
  
  @media (min-width: 1024px) {
    width: 75%;
    font-size: 35px;
  }
}

.quoter, .text {
  color: white;
  font-weight: 300;
  font-family: "Poppins", sans-serif;
  line-height: 25px;
  font-size: 16px;
  

  @media (min-width: 1024px) {

  }
}

.quoter {
  padding: 20px 0;
}

.textContainer a {
  width: 100%;
  display: flex;
  justify-content: center;

  @media (min-width: 768px) {
    justify-content: flex-start;
  }
}

.button {
  background: #005773;
  border: none;
  border-radius: 5px;
  color: white;
  font-weight: 800;
  font-family: "Poppins", sans-serif;
  line-height: 50px;
  margin-top: 30px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  width: 300px;
  font-size: 16px;
  margin-bottom: 50px;
  
  @media (min-width: 768px) and (max-width: 1023px) {
    width: 300px;
    font-size: 18px;
    margin-bottom: 10px;
  }

  @media (min-width: 1024px) {
    width: 300px;
    font-size: 18px;
  }
}

.button:hover {
  background-color: #008489;
}

.imageContainer {
  display: flex;
}

.image {
  width: 400px;
  height: 400px;

  @media (min-width: 1024px) {
    width: 600px;
    height: 600px;
  }
}