.container {
  background: #002D49;
  display: flex;
  align-items: center;
  width: 100%;
  
  @media (max-width: 767px) {
    flex-direction: column;
    justify-content: center;
    align-content: center;
  }

  @media (min-width: 768px) {
    flex-direction: row;
  }
}

.textContainer {
  /* width: 60%; */
  overflow: hidden;

  @media (max-width: 767px) {
    /* width: 80%; */
  }
  
  @media (min-width: 768px) and (max-width: 1023px) {
    /* width: 40%; */
  }
  
  @media (min-width: 1024px) {
    /* padding-right: 30px; */
    /* width: 80%; */
  }
}

.quote {
  color: white;
  font-weight: 700;
  font-family: "Poppins", sans-serif;
  line-height: 32px;
  

  @media (max-width: 767px) {
    font-size: 24px;
    width: 70%;
  }
  
  @media (min-width: 768px) and (max-width: 1023px) {
    width: 75%;
    font-size: 26px;
  }
  
  @media (min-width: 1024px) {
    width: 75%;
    font-size: 35px;
  }
}

.quoter, .text {
  color: white;
  font-weight: 300;
  font-family: "Poppins", sans-serif;
  line-height: 25px;
  width: max-content;

  @media (max-width: 1023px) {
    font-size: 16px;
  }

  @media (min-width: 1024px) {

  }
}

.quoter {
  padding: 20px 0;
}

.button {
  background: #09B089;
  border: none;
  border-radius: 5px;
  color: white;
  font-weight: 800;
  font-family: "Poppins", sans-serif;
  line-height: 50px;
  margin-top: 30px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;

  @media (max-width: 767px) {
    width: 300px;
    font-size: 16px;
    margin-bottom: 50px;
  }
  
  @media (min-width: 768px) and (max-width: 1023px) {
    width: 300px;
    font-size: 18px;
    margin-bottom: 10px;
  }

  @media (min-width: 1024px) {
    width: 300px;
    font-size: 18px;
  }
}

.button:hover {
  background-color: #008489;
}

.imageContainer {
  display: flex;
  /* width: 40% !important; */

  @media (max-width: 1023px) {
    align-self: center;
  }
}

.image {

  @media (max-width: 1023px) {
    width: 400px;
    height: 400px;
  }

  @media (min-width: 1024px) {
    width: 600px;
    height: 600px;
  }
}

