/* general */

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  height: 100%;

  @media (max-width: 767px) {
    justify-content: center;
    width: 100%;
  }

  @media (min-width: 768px) {
    justify-content: space-between;
    align-items: center;
    margin-right: 10px;
    column-gap: 20px;
    margin-left: 10px;
  }
}

/* left side of navbar */

.left {
  display: flex !important;  
  gap: 10px;

  @media (max-width: 767px) {
    width: 90%;
    align-items: center;
    justify-content: space-between;
  }

  @media (min-width: 768px) {
    align-items: center;
  }
}

.home {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  @media (max-width: 767px) {
    gap: 5px;
  }

  @media (min-width: 768px) {
    gap: 5px;
  }
}

.menu1 {
  background-color: rgba(12, 12, 12, 0.08);
  border-radius: 5px;

  @media (max-width: 767px) {
    display: none;
  }
}

.menu2 {
  height: 100%;
  
  @media (max-width: 767px) {
    /* width: 100%; */
    display: flex;
    /* justify-content: flex-end; */
    /* margin-right: -15px; */
    /* align-items: flex-end; */
    
  }

  @media (min-width: 768px) {
    display: none;
  }
}

.logo {
  @media (max-width: 767px) {
    height: 60px;
  }
  
  @media (min-width: 768px) and (max-width: 1023px) {
    height: 60px;
  }
  
  @media (min-width: 1024px) {
    height: 70px;
  }
}

.companyNameContainer {
  display: flex;
  flex-direction: column;
  line-height: 18px;
}

.companyName1 {
  font-weight: 600;
}

.companyName2 {
  font-weight: 300;
}

.titleLink {
  font-family: "Poppins", sans-serif;
  text-decoration: none;
  color: #00617C;
  font-weight: 500;
  position: relative;
}

.searchContainer {
  display: flex;
  flex-direction: row;
  border: solid 1px #EFF0F0;
  background-color: #EFF0F0;
  border-radius: 50px;
  justify-content: center;
  height: 42px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 20px;
  padding-right: 10px;
  transition: background-color 0.3s;
}

.searchContainer:hover {
  background-color: white;
  border: solid 1px #EFF0F0;
}

.searchInputContainer {
  display: flex;
  flex-direction: column;
  /* padding: 10px 20px; */
  justify-content: center;
  gap: 3px;
}

.searchInputContainer span, .searchDropdownContainer span {
  font-size: 12px;
  cursor: default;
  color: #aaa;
  line-height: 10px !important;
}

.input {
  color: #005773;
  /* height: 48px; */
  outline: none;
  font-size: 15px;
  min-width: 280px;
  border: none;
  background: transparent;
  text-align: left;
  box-shadow: none;
  font-family: inherit;
  padding: 0;
}

.input::placeholder {
  color: #005773;
}

.searchDropdownContainer {

}

.searchIconContainer {
  background-color: #005773;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 38px;
  width: 38px;
  transition: background-color 0.3s;
  cursor: pointer;
}

.searchIconContainer:hover {
  background-color: #008489;
}

.searchIcon {
  color: white;
  font-size: 18px;
}

.verticalLine {
  border-left: solid 1px #807d7dd7;
  height: 30px;
  margin: auto;
  opacity: 0.6;
}