.aboutContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  align-items: center;
}

.aboutContent {
  position: relative;
}

.headerContainer {
  display: flex;
  width: 100%;
  height: auto;
  background: #002D49;
  position: relative;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  
  @media (min-width: 768px) and (max-width: 1023px) {
    flex-direction: row;

  }
  
  @media (min-width: 1024px) {
    flex-direction: row;
  }
}

.headerImageContainer {
  display: flex;
  position: inherit;
  height: auto;
  width: 100%;

  @media (min-width: 768px) and (max-width: 1023px) {
    width: 50%;
    order: 2;
  }

  @media (min-width: 1024px) {
    width: 50%;
    order: 2;
  }
}

.headerImage {
  object-fit: cover;
  width: 100%;
  height: 250px;

  @media (min-width: 768px) and (max-width: 1023px) {
    height: 300px;
  }

  @media (min-width: 1024px) {
    height: 500px;
  }
}

.headerTextContainer {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  padding: 50px 0px;
  width: 75%;
  gap: 30px;

  @media (min-width: 768px) and (max-width: 1023px) {
    width: 50%;
  }

  @media (min-width: 1024px) {
    width: 50%;
    gap: 50px;
  }
}

.mainHeader {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 40px;

  @media (min-width: 1024px) {
    font-size: 60px;
  }
}

.mainText {
  font-family: "Poppins", sans-serif;
  color: white;
  font-weight: 400;
  display: flex;
  
  @media (min-width: 768px) {
    padding: 0 30px;
  }

  @media (min-width: 1024px) {
    font-size: 18px;
    line-height: 30px;
  }
}

.aboutBox {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  flex-direction: column; 

  @media (min-width: 768px) {
    flex-direction: row;
  }
}

@media (min-width: 768px) {
  .aboutBox.reverse {
    flex-direction: row-reverse;
  }
}

.aboutBox:nth-child(even) {
  @media (min-width: 768px) {
    flex-direction: row-reverse;
  }
}

.imageContainer1, .imageContainer2 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 85%; /* Default for mobile */
  margin-top: 50px; /* Default for mobile */

  @media (min-width: 768px) {
    width: 50%;
    margin-top: 0; /* Reset for larger screens */
  }

  @media (min-width: 1024px) {
    padding: 30px;
  }
}

.imageContainer1:nth-child(even) {
  @media (min-width: 768px) {
    order: 1; /* Ensure image is on the left for even rows */
  }
}

.imageContainer2 {
  display: flex;
  flex-direction: column;
}

.image {
  border-radius: 20px;
  width: 100%; /* Default for mobile */
  height: auto; /* Default for mobile */

  @media (min-width: 768px) {
    width: 90%;
    height: 90%;
  }
}

.imageContainer2 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 85%;
  margin-top: 50px;
  

  @media (min-width: 768px) and (max-width: 1023px) {
    width: 50%;
    padding: 30px 0;
  }

  @media (min-width: 1024px) {
    width: 50%;
    padding: 30px 0;
  }
}

.image2 {
  border-radius: 20px;
  height: 80%;
  width: 80%;
  

  @media (min-width: 768px) and (max-width: 1023px) {
    height: 80%;
    width: 80%;
  }

  @media (min-width: 1024px) {
    height: 50%;
    width: 50%;
  }
}

.textContainer {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column; /* Default for mobile */
  width: 75%; /* Default for mobile */
  padding: 30px 0px; /* Default for mobile */
  gap: 30px; /* Default for mobile */
  text-align: center; /* Default for mobile */

  @media (min-width: 768px) {
    width: 50%;
    padding: 60px 30px;
    text-align: left;
  }

  @media (min-width: 1024px) {
    padding: 100px 50px;
  }
}

.header {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 25px;

  @media (min-width: 768px) and (max-width: 1023px) {
    font-size: 25px;
  }

  @media (min-width: 1024px) {
    font-size: 40px;
  }
}

.text {
  font-family: "Poppins", sans-serif;
  font-weight: 300;

  @media (min-width: 768px) and (max-width: 1023px) {
    font-size: 18px;
  }

  @media (min-width: 1024px) {
    font-size: 20px;
    line-height: 30px;
  }
}

.text2 {
  font-family: "Poppins", sans-serif;
  color: white;
  font-weight: 400;
  display: flex;

  @media (min-width: 1024px) {
    font-size: 20px;
    line-height: 30px;
  }
}

.buttonContainer {
  width: 100%;
  justify-content: center;
  display: flex;
  margin-top: 40px;
}

.button1 {
  background-color: #00617C;
  color: white; 
  font-weight: 600;
  border-radius: 4px;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Poppins", sans-serif;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  font-size: 16px;
  padding: 10px 20px;
  margin-bottom: 60px;
  width: fit-content;
  
  
  @media (min-width: 768px) {
    font-size: 20px;
    padding: 15px 50px;
  }
}

.button1:hover {
  background: #002D49;
}

.button {
  background-color: #00617C;
  color: white; 
  font-weight: 600;
  border-radius: 4px;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Poppins", sans-serif;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  font-size: 16px !important;
  padding: 15px 0;
  margin-bottom: 60px;
  width: 100%;
  justify-self: center;
  
  @media (min-width: 768px) and (max-width: 1023px) {
    font-size: 20px !important;
    padding: 15px 0;
    width: 80%;
  }
  
  @media (min-width: 1024px) {
    font-size: 20px !important;
    padding: 15px 0;
    width: 80%;
  }
}

.button:hover {
  background: #002D49;
}

.aboutBox {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 40px;
  margin-top: 10px;
}

.headerContainer2 {
  width: 80%;
  text-align: center;
}

.header {
  color: #002D49;
  font-weight: 700;
  font-family: "Poppins", sans-serif;
  font-size: 22px;
  line-height: 125%;
  margin-top: 40px;
  
  @media (min-width: 768px) and (max-width: 1023px) {
    font-size: 30px;
    /* margin-bottom: 20px; */
  }
  
  @media (min-width: 1024px) {
    font-size: 45px;
    margin-top: 50px;
    /* margin-bottom: 20px; */
  }
}

.textContainer {
  display: flex;
  justify-content: center;
  align-content: center;
  color: #002D49;
  flex-direction: column;
  width: 80%;
  padding: 20px 0px;
  gap: 30px;
  line-height: 30px;
  text-align: center;

  @media (min-width: 768px) and (max-width: 1023px) {
    padding: 20px 30px;
  }

  @media (min-width: 1024px) {
    padding: 20px 50px;
    line-height: 40px;
  }
}

.text1 {
  font-weight: 300;
  font-family: "Poppins", sans-serif;
  display: flex;
  text-align: left;
  font-size: 16px;
  line-height: 26px;
  gap: 15px;
  flex-direction: column;
  
  @media (min-width: 768px) and (max-width: 1023px) {
    line-height: 28px;
  }
  
  @media (min-width: 1024px) {
    font-size: 18px;
    line-height: 30px;
    /* flex-direction: row; */
  }
}

.about {
  /* position: absolute; */
  z-index: 10;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  left: 0;
  right: 0;
  align-content: center;
  /* height: 100%; */
  text-align: center;
  flex-direction: column;
}

.aboutHeader {
  color: #002D49;
  font-weight: 700;
  font-family: "Poppins", sans-serif;
  font-size: 22px;
  line-height: 125%;
  margin-bottom: 20px;
  
  @media (min-width: 768px) and (max-width: 1023px) {
    font-size: 30px;
    margin-top: 40px;
  }
  
  @media (min-width: 1024px) {
    font-size: 45px;
    margin-top: 40px;
  }
}

.subHeader {
  color: #002D49;
  font-family: 'Poppins', sans-serif !important;
  font-weight: 700;
  font-size: 16px;
  text-align: left;
  margin-top: 20px;
  margin-bottom: 5px;
  
  @media (min-width: 768px) and (max-width: 1023px) {
    font-size: 22px;
  }
  
  @media (min-width: 1024px) {
    font-size: 24px;
  }
}



