.messageBox {
  background-color: white;
  border: none;
  width: 100%;
  display: flex;

  @media (max-width: 767px) {
    min-height: 200px;
  }

  @media (min-width: 768px) and (max-width: 1023px) {
    min-height: 250px;
  }
  
  @media (min-width: 1024px) {
    min-height: 250px;
  }
}

.message {
  height: 100%;
  width: 100%;
  border: none;
  outline: none;
  font-weight: 300;
  font-family: "Poppins", sans-serif;
  justify-self: start;

  @media (max-width: 767px) {
    padding: 10px;
    font-size: 18px;
    min-height: 200px;
  }

  @media (min-width: 768px) and (max-width: 1023px) {
    padding: 10px;    
    font-size: 18px;
    line-height: 50px;
  }
  
  @media (min-width: 1024px) {
    padding: 10px;    
    font-size: 18px;
    line-height: 50px;
  }
}

.errorMessage {
  color: red;
  text-align: left;
  width: 100%;
  font-family: "Poppins", sans-serif;

  @media (max-width: 767px) {
    margin-top: 5px;
  }

  @media (min-width: 768px) and (max-width: 1023px) {
    margin-top: 5px;
  }

  @media (min-width: 1024px) {
    margin-top: 5px;
  }
}

.error {
  color: red;
}



.successMessageContainer {
  width: 100%;
  text-align: center;
  
  @media (max-width: 767px) {
    margin-bottom: 20px;
  }
}

.successMessage {
  font-weight: 400;
  font-family: "Poppins", sans-serif;
}

.emailContainer {
  border: solid 1px black;
  border-radius: 10px;
  outline: #002D49;
}

.line {
  background: #002D49;
}

.emailHeader {
  font-weight: 500;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
}

.emailText {
  font-weight: 400;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
}

.emailInfo {
  font-weight: 400;
  font-family: "Poppins", sans-serif;
  font-size: 12px;
}






.formContainer {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  margin: auto;
  box-shadow: 0px 8px 24px rgba(62, 53, 82, 0.3);

  @media (max-width: 767px) {
    width: 300px;
    margin-top: 40px;
    margin-bottom: 40px;
  }
}

.steps {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  position: relative;
}

.stepContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  flex: 1;
  text-align: center;
}



.stepNumber {
  font-weight: 700;
  color: grey;
  border: 2px solid lightgray;
  border-radius: 50%;
  text-align: center;
  z-index: 1;
  background-color: white;

  @media (max-width: 767px) {
    font-size: 12px;
    height: 22px;
    width: 22px;
  }
}

.stepNumberActive {
  font-weight: 700;
  color: #002D49;
  border: 2px solid #002D49;
  border-radius: 50%;
  text-align: center;
  z-index: 1;
  background-color: white;

  @media (max-width: 767px) {
    font-size: 12px;
    height: 22px;
    width: 22px;
  }
}

.stepNumberCompleted {
  font-weight: 700;
  color: white;
  border: 2px solid #002D49;
  background-color: #002D49;
  border-radius: 50%;
  text-align: center;
  z-index: 1;

  @media (max-width: 767px) {
    font-size: 12px;
    height: 22px;
    width: 22px;
  }
}

.stepText {
  color: grey;
  font-weight: 400;

  @media (max-width: 767px) {
    font-size: 12px;
  }
}

.stepTextActive {
  color: #002D49;
  font-weight: 500;

  @media (max-width: 767px) {
    font-size: 12px;
  }
}

.inputContainer {
  margin-bottom: 20px;
}

.textarea {
  width: 100%;
  height: 100px;
}

.navigation {
  display: flex;
  flex-direction: column;
  gap: 10px;
}



.button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.stepConnector {
  position: absolute;
  left: 50%;
  width: 100%;
  height: 2px;
  background-color: lightgray;
  z-index: 0;
  transition: background-color 1s ease;

  @media (max-width: 767px) {
    top: 12px;
  }
}

.stepConnector.completed {
  background-color: #002D49;
}

.stepContainer:first-child .stepConnector {
  left: 50%;
}

.stepContainer:last-child .stepConnector {
  width: 50%;
  left: 0;
}

.inputError {
  color: red;
  background-color: #e6007e;
}

.buttonContainer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
}

.button, .button2 {
  width: 90%;
  border: none;
  font-weight: 700;
  cursor: pointer;
  font-family: "Poppins", sans-serif;
  border-radius: 4px;

  @media (max-width: 767px) {
    font-size: 16px;
    /* margin-bottom: 20px; */
    /* margin-top: 20px; */
    padding: 10px 20px;
  }

  @media (min-width: 768px) and (max-width: 1023px) {
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  @media (min-width: 1024px) {
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
  }
}

.button {
  background-color: #09B089;
  color: white;
}

.button2 {
  background-color: lightgray;
}