.messageBox {
  background-color: white;
  border: none;
  width: 100%;
  display: flex;
  min-height: 200px;

  @media (min-width: 768px) and (max-width: 1023px) {
    min-height: 250px;
  }
  
  @media (min-width: 1024px) {
    min-height: 250px;
  }
}

.message {
  height: 100%;
  width: 100%;
  border: none;
  outline: none;
  font-weight: 300;
  font-family: "Poppins", sans-serif;
  justify-self: start;
  padding: 10px;
  font-size: 18px;
  min-height: 200px;

  @media (min-width: 768px)  {
    line-height: 50px;
  }
}

.errorMessage {
  color: red;
  text-align: left;
  width: 100%;
  font-family: "Poppins", sans-serif;
  margin-top: 5px;
}

.error {
  color: red;
}



.successMessageContainer {
  width: 100%;
  text-align: center;
}

.successMessage {
  font-weight: 400;
  font-family: "Poppins", sans-serif;
}

.emailContainer {
  border: solid 1px black;
  border-radius: 10px;
  outline: #002D49;
}

.line {
  background: #002D49;
}

.emailHeader {
  font-weight: 500;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
}

.emailText {
  font-weight: 400;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
}

.emailInfo {
  font-weight: 400;
  font-family: "Poppins", sans-serif;
  font-size: 12px;
}


.formContainer {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  margin: auto;
  box-shadow: 0px 8px 24px rgba(62, 53, 82, 0.3);
  width: 300px;
  margin-top: 40px;
  margin-bottom: 40px;

  @media (min-width: 768px) and (max-width: 1023px) {
    width: 600px;
  }

  @media (min-width: 1024px) {
    width: 700px;
    margin-top: 60px;
    margin-bottom: 60px;
  }
}

.steps {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  position: relative;

  @media (min-width: 768px) and (max-width: 1023px) {
    margin-top: 20px;
  }

  @media (min-width: 1024px) {
    margin-top: 10px;
  }
}

.stepContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  flex: 1;
  text-align: center;
  gap: 5px;
}

.stepNumber {
  font-weight: 700;
  color: grey;
  border: 2px solid lightgray;
  border-radius: 50%;
  text-align: center;
  z-index: 1;
  background-color: white;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-size: 12px;
  height: 22px;
  width: 22px;

  @media (min-width: 768px) and (max-width: 1023px) {
    font-size: 14px;
    height: 26px;
    width: 26px;
  }

  @media (min-width: 1024px) {
    font-size: 16px;
    height: 26px;
    width: 26px;
  }
}

.stepNumberActive {
  font-weight: 700;
  color: #002D49;
  border: 2px solid #002D49;
  border-radius: 50%;
  text-align: center;
  z-index: 1;
  background-color: white;
  cursor: pointer;
  font-size: 12px;
  height: 22px;
  width: 22px;

  @media (min-width: 768px) and (max-width: 1023px) {
    font-size: 14px;
    height: 26px;
    width: 26px;
  }

  @media (min-width: 1024px) {
    font-size: 16px;
    height: 26px;
    width: 26px;
  }
}

.stepNumberCompleted {
  font-weight: 700;
  color: white;
  border: 2px solid #002D49;
  background-color: #002D49;
  border-radius: 50%;
  text-align: center;
  z-index: 1;
  cursor: pointer;
  font-size: 12px;
  height: 22px;
  width: 22px;

  @media (min-width: 768px) and (max-width: 1023px) {
    font-size: 14px;
    height: 26px;
    width: 26px;
  }

  @media (min-width: 1024px) {
    font-size: 16px;
    height: 26px;
    width: 26px;
  }
}

.stepText {
  color: grey;
  font-weight: 400;
  cursor: pointer;
  font-size: 12px;

  @media (min-width: 768px) {
    font-size: 16px;
  }
}

.stepTextActive {
  color: #002D49;
  font-weight: 500;
  cursor: pointer;
  font-size: 12px;

  @media (min-width: 768px) {
    font-size: 16px;
  }
}

.inputContainer {
  margin-bottom: 20px;
}

.textarea {
  width: 100%;
  height: 100px;
}

.form2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-content: center;
}

.navigation {
  display: flex;
  width: 90%;
  flex-direction: column;
  margin-bottom: 20px;
  gap: 5px;

  @media (min-width: 768px) and (max-width: 1023px) {
    flex-direction: row;
  }

  @media (min-width: 1024px) {
    flex-direction: row;
  }
}

.button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.stepConnector {
  position: absolute;
  left: 50%;
  width: 100%;
  height: 2px;
  background-color: lightgray;
  z-index: 0;
  transition: background-color 1s ease;
  top: 12px;

  @media (min-width: 768px) {
    top: 14px;
  }
}

.stepConnector.completed {
  background-color: #002D49;
}

.stepContainer:first-child .stepConnector {
  left: 50%;
}

.stepContainer:last-child .stepConnector {
  width: 0%;
  left: 0;
}

/* .inputError {
  color: red;
  border: 2px solid #ED553D !important;
  background-color: #fdf2f0 !important;
} */

.buttonContainer1 {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  margin-top: 10px;

  @media (min-width: 768px) and (max-width: 1023px) {
    margin-bottom: 40px;
  }

  @media (min-width: 1024px) {
    margin-bottom: 40px;
  }
}

.buttonContainer2 {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  margin-top: 10px;
  flex-direction: column;
  gap: 20px;

  @media (min-width: 768px) and (max-width: 1023px) {
    margin-bottom: 40px;
    flex-direction: row;
  }

  @media (min-width: 1024px) {
    margin-bottom: 40px;
    flex-direction: row;
  }
}

.button, .button2 {
  border: none;
  font-weight: 700;
  cursor: pointer;
  font-family: "Poppins", sans-serif;
  border-radius: 4px;
  font-size: 16px;
  padding: 10px 20px;
  width: 100%;

  @media (min-width: 768px) and (max-width: 1023px) {
    font-size: 20px;
    padding: 10px 15px;
    margin-top: 10px;
  }

  @media (min-width: 1024px) {
    font-size: 20px;
    padding: 10px 0px;
    margin-top: 10px;
  }
}

.button {
  background-color: #09B089;
  transition: all 0.3s ease-in-out;
  color: white;
}

.button:hover {
  background-color: #008489;
}

.button2 {
  background-color: lightgray;
}

.successMessageContainer {
  width: 100%;
  text-align: center;
  margin-bottom: 20px;
  margin-top: 20px;

  @media (min-width: 768px) and (max-width: 1023px) {
    margin-bottom: 40px;
    margin-top: 40px; 
    font-size: 18px;  
  }

  @media (min-width: 1024px) {
    margin-bottom: 60px;
    margin-top: 60px;  
    font-size: 20px;  
  }
}

.successMessage {
  font-weight: 400;
  font-family: "Poppins", sans-serif;
}