.container {
  width: 100%;
  background-color: white;
}

.filteredJobsContainer {
  width: 100%;
  display: flex;
  flex-direction: row;
}

.left {
  display: flex;
  flex-direction: column;
  width: 50%;
  height: 80vh;
  overflow-y: auto;
}

.jobsListTop {
  border-bottom: 1px solid #ccc;
  border-right: 1px solid #ccc;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 80px;
}

.jobsListTopInfo {
  display: flex;
  flex-direction: column;
  padding: 10px 26px;
}

.jobsListTopInfo div {
  color: #002D49;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
}

.jobsListTopInfo span {
  color: #b3b3b3;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
  font-size: 12px;
  margin-top: -4px;
}

.jobsList {
  max-height: 100%;
  overflow-y: auto;
}

.jobsList::-webkit-scrollbar, .right::-webkit-scrollbar {
  width: 6px;
  height: 50%;
}

.jobsList::-webkit-scrollbar-track, .right::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

.jobsList::-webkit-scrollbar-thumb, .right::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}



.jobCardContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #ccc;
}

.jobCardContainerHighlighted {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #ccc;
  background-color: #cbdae4;
  border-left: 4px solid #002D49;
}

.jobCard {
  padding: 15px;
  width: 90%;
  font-family: "Poppins", sans-serif;
}

.jobPosition {
  font-size: 15px;
  font-weight: 600;
  color: #002D49;
  margin-bottom: 10px;
}

.jobInfo, .jobInfoHighlighted {
  font-size: 11px;
  display: flex;
  flex-flow: wrap;
  gap: 8px;
  font-weight: 400;
  margin-top: 10px;
}

.jobInfo span {
  background-color: #EFF0F0;
  border-radius: 8px;
  padding: 0px 8px;
  text-align: center;
  display: inline-flex;
  margin-bottom: 0;
  align-items: center;
  column-gap: 10px;
}

.jobInfoHighlighted span {
  background-color: white;
  border-radius: 8px;
  padding: 0px 8px;
  text-align: center;
  display: inline-flex;
  margin-bottom: 0;
  align-items: center;
  column-gap: 10px;
}

.icon {
  font-size: 16px;
}

.bottomInfo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 15px;
  margin-bottom: 10px;
}

.new {
  border-radius: 100px;
  background: #E8EEEC;
  padding: 4px 8px;
  font-size: 12px;
  line-height: 140%;
  color: #417565;
  width: fit-content;
}

.newHighlighted {
  border-radius: 100px;
  border: solid 1px #417565;
  background: #E8EEEC;
  padding: 4px 8px;
  font-size: 12px;
  line-height: 140%;
  color: #417565;
  width: fit-content;
}

.newHidden {
  color: white;
  user-select: none;
}

.newHiddenHighlighted {
  color: #cbdae4;
  user-select: none;
}

.postedDate {
  opacity: 0.5;
  line-height: 1;
  font-size: 12px;
}

.paginationContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pagination {
  display: flex;
  justify-content: space-between;
  align-items: center;
  justify-content: center;
  align-self: center;
  margin: 20px 0;
  /* width: 200px; */
  background-color: #EFF0F0;
  border-radius: 8px;
  padding: 5px 15px;
}

.pagination button {
  padding: 5px 10px;
  cursor: pointer;
}

.pagination span {
  margin: 0 10px;
}

.right {
  display: flex;
  flex-direction: column;
  width: 50%;
  height: 80vh;
  overflow-y: auto;
  align-items: center;
}

.selectedJobInfoContainer {
  width: 90%;
  
}

.selectedJobInfo {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.selectedPosition {
  font-size: 22px;
  font-weight: 600;
  color: #002D49;
  margin-bottom: 10px;
  margin-top: 20px;
}

.buttonContainer {
  background-color: #09B089;
  border-radius: 4px;
  width: 180px;
  height: 50px;
  text-align: center;
  justify-content: center;
  align-content: center;
  margin-top: 20px;
}

.button {
  background: none;
  border: none;
  color: white;
  font-weight: 700;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
}

.selectedJobData {
  display: flex;
  flex-direction: column;
  color: #002D49;
  font-family: "Poppins", sans-serif;
  /* overflow-y: auto; */
}

.selectedJobDataHeader {
  font-weight: 600;
  font-size: 16px;
  margin-top: 30px;
}

.selectedJobDataDescription {
  font-weight: 400;
  font-size: 15px;
  margin-top: 20px;
}

.selectedJobData ul {
  padding: 18px;
  margin: 0;
  font-weight: 400;
}

.selectedJobData li {
  /* padding: 15px; */
  font-size: 15px;
}

.jobBottomInfo {
  display: flex;
  flex-direction: column;
  gap: 20px;
  
}

.jobBottomInfo span {
  font-weight: 400;
  font-size: 16px;
  margin-top: 30px;
}

.jobBottomInfo div {
  font-weight: 600;
  font-size: 16px;
  
}

.jobBottomInfo a {
  cursor: pointer;
  color: #09B089;
  padding-bottom: 60px !important;
}

.jobBottomInfo a:hover {
  color: #417565;
}

.noJobsFound {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 20px;
  background-color: #d8d8d8;
}

.noJobsFound div {
  color: #002D49;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  font-size: 15px;
}

.noJobsFound span {
  color: #002D49;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
  font-size: 13px;
}

.noJobsFound a {
  margin-top: 10px;
  color: #002D49;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  width: 90px;
  padding: 6px 6px ;
  cursor: pointer;
  border-radius: 4px;
  border: solid 1px #002D49;
  text-align: center;
  text-justify: center;
  justify-items: center;
  justify-content: center;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}

.noJobsFound a:hover {
  background-color: #002D49;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  color: white;
  border: none;
  border-radius: 4px;
  border: solid 1px #002D49;
}

.noSelectedJobFound {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.noSearchIcon {
  width: 200px;
  height: 200px;
  margin: 0 auto 30px;
  margin-top: 100px;
  color: #09B089;
  animation: moveUpDown 4s ease-in-out infinite;
}

@keyframes moveUpDown {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}

.noSelectedJobFound div {
  color: #002D49;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  font-size: 28px;
}

.noSelectedJobFound span {
  color: #002D49;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  width: 70%;
  margin-top: 20px;
}