/* Adjust styles as necessary */
.jobsContainer {
  width: 100%;
  max-width: 1200px;
  margin: auto;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.jobCardsContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.skeletonContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Custom slider styles */
.sliderContainer {
  display: flex;
  align-items: center;
  width: 100%;
  position: relative;
}

.slider {
  display: flex;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  -webkit-overflow-scrolling: touch;
  gap: 10px;
  padding: 20px 0;
  width: calc(100% - 60px);
  justify-content: center; /* Center the slides */
}

.sliderItem {
  flex: 0 0 80%; /* Adjust as necessary for showing edges of adjacent cards */
  scroll-snap-align: center; /* Center the current slide */
  margin: 0 10px;
}

.sliderButton {
  background: none;
  border: none;
  font-size: 2rem;
  cursor: pointer;
}

/* Button styles */
.viewAllButton, .viewAllButtonMobile {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #005773;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.viewAllButton:hover, .viewAllButtonMobile:hover {
  background-color: #004760;
}

.searchIcon, .searchIconMobile {
  margin-left: 5px;
}

@media (max-width: 767px) {
  .viewAllButton {
    display: none;
  }
}
