.headerContainer {
  display: flex;
  width: 100%;
  height: auto;
  background: #002D49;
  position: relative;
  align-items: center;
  justify-content: center;

  @media (max-width: 767px) {
    flex-direction: column;
  }
  
  @media (min-width: 768px) and (max-width: 1023px) {
    flex-direction: row;

  }
  
  @media (min-width: 1024px) {
    flex-direction: row;
  }
}

.imageContainer {
  display: flex;
  position: inherit;

  @media (max-width: 767px) {
    height: auto;
    width: 100%;
  }
}

.image {
  object-fit: cover;
}

.textContainer {
  text-align: center;
  display: flex;

  @media (max-width: 767px) {
    flex-direction: column;
    width: 75%;
    padding: 50px 0px;
    gap: 30px;
  }
}

.header {
  font-family: "Poppins", sans-serif;
  font-weight: 700;

  @media (max-width: 767px) {
    font-size: 40px;
  }
}

.text {
  font-family: "Poppins", sans-serif;
  color: white;
  font-weight: 400;
}
