.banner {
  position: relative;
  
  width: 100%;

  @media (max-width: 767px) {
    height: 500px;
  }
  
  @media (min-width: 768px) and (max-width: 1023px) {
    width: auto;
  }
  
  @media (min-width: 1024px) {
    height: 700px;
  }
}

.backgroundVideo {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  object-fit: cover;
  z-index: 0;

  @media (max-width: 767px) {
    width: auto;
  }
  
  @media (min-width: 768px) and (max-width: 1023px) {
    width: auto;
  }
  
  @media (min-width: 1024px) {
    width: 100%;
  }
}

.videoOverlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 1;

  @media (max-width: 767px) {
    width: auto;
  }
  
  @media (min-width: 768px) and (max-width: 1023px) {
    width: auto;
  }
  
  @media (min-width: 1024px) {
    width: 100%;
  }
}

.bannerContent {
  position: absolute;
  z-index: 10;
  display: flex;
  flex-wrap: wrap;
  width: 800px;
  margin: auto;
  justify-content: center;
  left: 0;
  right: 0;
  align-content: center;
  height: 100%;
  text-align: center;
}

.title {
  color: white;
  font-size: 70px;
  line-height: 115%;
  margin-bottom: 50px;
  font-weight: 800;
}

.buttonContainer {
  display: flex;
  gap: 25px;
}

.bannerButton {
  background-color: #00617C;
  color: white;
  font-size: 18px;
  padding: 0 32px;
  height: 56px;
  line-height: 56px;
  font-weight: 700;
  border-radius: 4px;
  text-decoration: none;
}