.app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

/* banner */

.banner {
  position: relative;
  height: 700px;
  overflow: hidden;
  width: 100%;
}

.backgroundVideo {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  object-fit: cover;
  z-index: 0;
  width: 100%;
  
}

.videoOverlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 1;
  width: 100%;

}

.bannerContent {
  position: absolute;
  z-index: 10;
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  justify-content: center;
  left: 0;
  right: 0;
  align-content: center;
  height: 100%;
  text-align: center;

  @media (max-width: 767px) {
    width: 100%;
  }
  
  @media (min-width: 768px) and (max-width: 1023px) {
    width: 800px;
  }
  
  @media (min-width: 1024px) {
    width: 800px;
  }
}

.title {
  color: white;
  font-weight: 800;
  font-family: "Poppins", sans-serif;

  @media (max-width: 767px) {
    font-size: 40px;
    line-height: 125%;
    margin-bottom: 30px;
    margin-top: -30px;
  }
  
  @media (min-width: 768px) and (max-width: 1023px) {
    font-size: 50px;
    line-height: 115%;
    margin-bottom: 40px;
  }
  
  @media (min-width: 1024px) {
    font-size: 70px;
    line-height: 115%;
    margin-bottom: 50px;
  }
}

.buttonContainer {
  display: flex;
  gap: 25px;

  @media (max-width: 767px) {
    flex-direction: column;
  }
}

.bannerButton {
  background-color: #00617C;
  color: white;
  padding: 0 20px;
  height: 56px;
  line-height: 56px;
  font-weight: 700;
  border-radius: 4px;
  text-decoration: none;
  font-family: "Poppins", sans-serif;

  @media (max-width: 767px) {
    font-size: 16px;
  }
  
  @media (min-width: 768px) and (max-width: 1023px) {

  }
  
  @media (min-width: 1024px) {
    font-size: 18px;
  }
}

/* services */

.services, .about {
  /* position: absolute; */
  z-index: 10;
  display: flex;
  flex-wrap: wrap;
  /* margin: auto; */
  justify-content: center;
  left: 0;
  right: 0;
  align-content: center;
  /* height: 100%; */
  text-align: center;
}

.servicesContent, .aboutContent {
  width: 80%;
}

.header {
  color: #002D49;
  font-weight: 700;
  font-family: "Poppins", sans-serif;

  @media (max-width: 767px) {
    font-size: 22px;
    line-height: 125%;
    margin-top: 40px;
    margin-bottom: 20px;
  }
  
  @media (min-width: 768px) and (max-width: 1023px) {

  }
  
  @media (min-width: 1024px) {

  }

}

/* about */

.aboutButton {
  width: 300px;
  background: #09B089;
  border: none;
  border-radius: 5px;
  color: white;
  font-weight: 800;
  font-family: "Poppins", sans-serif;
  line-height: 50px;
  font-size: 16px;
}