/* General App Styling */
.app {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

/* Banner Section */
.banner {
  position: relative;
  height: 700px;
  overflow: hidden;
  width: 100%;
  background-color: black;
}

.backgroundVideo {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
  z-index: 0;
}

.videoOverlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  background-color: black;
  opacity: 0.7;
}

.bannerContent {
  position: absolute;
  z-index: 10;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  text-align: center;
}

.title {
  color: white;
  font-weight: 800;
  font-family: "Poppins", sans-serif;

  @media (max-width: 767px) {
    font-size: 40px;
    margin-top: -30px;
    line-height: 125%;
    padding-bottom: 60px;
  }
  
  @media (min-width: 768px) and (max-width: 1023px) {
    font-size: 50px;
    margin-bottom: 40px;
    line-height: 115%;
  }
  
  @media (min-width: 1024px) {
    font-size: 70px;
    margin-bottom: 50px;
    width: 800px;
    line-height: 115%;
  }
}

.buttonContainer {
  display: flex;
  gap: 25px !important;
  flex-direction: column;

  @media (min-width: 768px) {
    flex-direction: row;
  }
}

.bannerButton {
  background-color: #00617C;
  color: white;
  padding: 0 20px;
  height: 56px;
  line-height: 56px;
  font-weight: 700;
  border-radius: 4px;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  cursor: pointer;
  transition: all 0.3s ease-in-out;

  @media (max-width: 767px) {
    font-size: 16px;
  }
  
  @media (min-width: 1024px) {
    font-size: 18px;
  }
}

.bannerButton:hover {
  background-color: #002D49;
}

/* Services, About, Testimonials Section */
.services, .about, .testimonials {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 40px 0;
}

.services {
  background: #F9F9F9;
}

.testimonials {
  background: #EFF0F0;
}

.servicesContent, .aboutContent, .testimonialsContent {
  width: 80%;
}

.header {
  color: #002D49;
  font-weight: 700;
  font-family: "Poppins", sans-serif;
  margin: 40px 0 20px;
  line-height: 125%;

  @media (max-width: 767px) {
    font-size: 22px;
  }
  
  @media (min-width: 768px) {
    font-size: 30px;
  }
  
  @media (min-width: 1024px) {
    font-size: 45px;
  }
}

.text {
  font-weight: 300;
  font-family: "Poppins", sans-serif;

  @media (max-width: 767px) {
    font-size: 16px;
  }
  
  @media (min-width: 768px) {
    font-size: 16px;
  }
  
  @media (min-width: 1024px) {
    font-size: 18px;
  }
}

/* About Section */
.aboutButton {
  background: #09B089;
  border: none;
  border-radius: 5px;
  color: white;
  font-weight: 800;
  font-family: "Poppins", sans-serif;
  line-height: 50px;
  margin: 40px 0;
  cursor: pointer;
  transition: all 0.3s ease-in-out;

  @media (max-width: 1023px) {
    width: 300px;
    font-size: 16px;
  }

  @media (min-width: 1024px) {
    width: 350px;
    font-size: 18px;
  }
}

.aboutButton:hover {
  background-color: #008489;
}

/* Additional Styles */
@media (min-width: 768px) {
  .services, .about, .testimonials {
    /* flex-direction: row; */
    justify-content: space-between;
    align-items: center;
    text-align: center;
  }

  .servicesContent, .aboutContent, .testimonialsContent {
    width: 60%;
  }
}
