.contactContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  align-items: center;
}

.pageHeader {
  display: flex;
  width: 100%;
  background: #00617C;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 50px 0;
  line-height: 50px;
  gap: 20px;
  
  @media (min-width: 1024px) {
    padding: 70px 0;
  }
}

.header {
  font-weight: 700;
  color: white;
  font-family: "Poppins", sans-serif;
  background: #008489;
  font-size: 40px;
  padding: 10px 4px;
  
  @media (min-width: 768px) and (max-width: 1023px) {
    font-size: 60px;
    padding: 15px 6px;
  }
  
  @media (min-width: 1024px) {
    font-size: 80px;
    padding: 30px 8px;
  }
}

.arrow {
  color: white;
  font-size: 40px;
  animation: up-down 1s ease infinite;
  
  @media (min-width: 768px) and (max-width: 1023px) {
    font-size: 60px;
  }
  
  @media (min-width: 1024px) {
    font-size: 60px;
  }
}

@keyframes up-down {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px);
  }

}

.textMainContainer {
  background: #EFF0F0;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 60px 0;

  @media (min-width: 768px) and (max-width: 1023px) {
    padding: 80px 0;
  }
  
  @media (min-width: 1024px) {
    padding: 100px 0;
  }
}

.textContainer {
  width: 80%;
  display: flex;
  flex-direction: column;
}

.text {
  display: flex;
  flex-direction: column;
  font-weight: 400;
  text-decoration: none;
  font-size: 14px;
  margin-bottom: 20px;
  gap: 10px;
  
  @media (min-width: 768px) and (max-width: 1023px) {
    font-size: 16px;
  }
  
  @media (min-width: 1024px) {
    font-size: 16px;
    line-height: 30px;
  }
}

.textHeader {
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  display: flex;
  flex-direction: column;
  font-size: 14px;
  line-height: 25px;
  margin-bottom: 20px;
  
  @media (min-width: 768px) and (max-width: 1023px) {
    font-size: 16px;
  }
  
  @media (min-width: 1024px) {
    font-size: 16px;
    line-height: 35px;
    margin-top: 15px;
    margin-bottom: 5px;
  }
}

.text2, .text3 {
  font-weight: 400;
  text-decoration: none;
  font-size: 14px;
  margin-bottom: 20px;
  
  @media (min-width: 768px) and (max-width: 1023px) {
    font-size: 16px;
  }
  
  @media (min-width: 1024px) {
    gap: 10px;
    font-size: 16px;
    line-height: 30px;
    margin-top: 10px;
  }
}

.text3 {
  margin-bottom: 10px;
}

.list {
  font-weight: 400;
  text-decoration: none;
  font-size: 14px;
  margin-bottom: 20px;
  
  @media (min-width: 768px) and (max-width: 1023px) {
    font-size: 16px;
  }
  
  @media (min-width: 1024px) {
    gap: 10px;
    font-size: 16px;
    margin-top: 10px;
  }
}

.list::marker {
  color: #005773; /* Change to your desired color */
}

.list {
  padding-left: 20px;
}