/* general */

.navbar {
  position: absolute;
  width: 100%;
  z-index: 1000;
  overflow: hidden;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  column-gap: 20px;
  margin-left: 10px;
  margin-right: 10px;
}

/* left side of navbar */

.left {
  display: flex !important;
  /* flex-direction: row !important; */
  align-items: center;
  gap: 10px;

  @media (max-width: 767px) {
    width: 100%;
  }
}

.menu1 {
  @media (max-width: 767px) {
    display: none;
  }
}

.menu2 {
  @media (max-width: 767px) {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    margin-right: -15px;
  }

  @media (min-width: 768px) {
    display: none;
  }
}

.logo {
  /* max-width: 100%; */
  height: 70px;
}

.companyNameContainer {
  display: flex;
  flex-direction: column;
  line-height: 18px;
}

.companyName1 {
  font-weight: 600;
}

.companyName2 {
  font-weight: 300;
}

.text {
  text-decoration: none;
  color: white;
}

/* middle of navbar */

.middle {
  flex-wrap: wrap;
  display: flex;
  justify-content: center;

  @media (max-width: 767px) {
    display: none;
  }
}

.links {
  display: flex;
  width: 100%;
  column-gap: 30px;
}

.link {
  font-family: "Poppins", sans-serif;
  text-decoration: none;
  color: white;
  font-weight: 500;
}

/* right side of navbar */

.right {
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
}

.searchIcon {
  color: white;
  background-color: rgba(255, 255, 255, 0.08);
  border-radius: 50%;
  padding: 8px;
  cursor: pointer;

  @media (max-width: 767px) {
    display: none;
  }
  
  @media (min-width: 768px) and (max-width: 1023px) {
    font-size: 35px !important;

  }
  
  @media (min-width: 1024px) {
    font-size: 25px !important;
  }
}



