.container {
  background: #005773;
  /* background: #002D49; */
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (max-width: 767px) {
    justify-content: center;
  }

}

.box {
  display: flex;
  align-items: center;
  width: 100%;
  align-self: center;
  justify-content: space-between;
  
  @media (max-width: 767px) {
    flex-direction: column;
  }
  
  @media (min-width: 768px) and (max-width: 1023px) {
    flex-direction: row;
  }
  
  @media (min-width: 1024px) {
    flex-direction: row;
  }
}

.header {
  display: flex;
  font-weight: 600;
  color: white;
  font-family: "Poppins", sans-serif;
  gap: 10px;
  
  @media (max-width: 767px) {
    font-size: 25px;
    margin-top: 40px;
  }
  
  @media (min-width: 768px) and (max-width: 1023px) {
    font-size: 30px;
    flex-direction: column;
    padding: 30px 30px;
  }
  
  @media (min-width: 1024px) {
    font-size: 40px;
    flex-direction: row;
    padding: 30px 30px;
  }
}

.buttonContainer {
  display: flex;
  flex-direction: row;

  @media (max-width: 767px) {
    gap: 20px;
  }
  
  @media (min-width: 768px) and (max-width: 1023px) {
    gap: 30px;
    padding: 0 30px;
  }
  
  @media (min-width: 1024px) {
    gap: 40px;
    padding: 0 30px;
  }
}

.button {
  background-color: #09B089;
  border: none;
  color: white;
  cursor: pointer;
  height: 56px;
  line-height: 56px;
  font-weight: 700;
  border-radius: 4px;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  transition: all 0.3s ease-in-out;
  margin-top: 20px;
  margin-bottom: 20px;

  @media (max-width: 767px) {
    font-size: 16px;
    padding: 0 30px;
  }
  
  @media (min-width: 768px) and (max-width: 1023px) {
    font-size: 16px;
    padding: 0 40px;
  }
  
  @media (min-width: 1024px) {
    font-size: 20px;
    padding: 0 80px;
  }
}

.button:hover {
  background: #008489;
}

.line {
  width: 80%;
}

.bottomContainer {
  display: flex;
  flex-direction: column !important;
}



.logos {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.logoContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.logo {

  @media (max-width: 767px) {
    width: 60px;
    height: 60px;
  }
  
  @media (min-width: 768px) and (max-width: 1023px) {
    width: 90px;
    height: 90px;
  }

  @media (min-width: 1024px) {
    width: 70px;
    height: 70px;
  }
}

.link {
  text-decoration: none;
}

.companyNameContainer {
  display: flex;
  flex-direction: column;
  
  text-decoration: none;
  color: white;
  
  @media (max-width: 767px) {
    line-height: 18px;
  }
  
  @media (min-width: 768px) and (max-width: 1023px) {
    line-height: 35px;
  }
}

.companyName1 {
  font-weight: 600;
}

.companyName2 {
  font-weight: 300;
}

.companyName1, .companyName2 {
  font-family: "Poppins", sans-serif;

  @media (max-width: 767px) {
    font-size: 16px;
  }
  
  @media (min-width: 768px) and (max-width: 1023px) {
    font-size: 20px;
    line-height: 25px;
  }
  
  @media (min-width: 1024px) {
    font-size: 20px;
  }
}

.linkedInContainer {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: #00617C;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: -10px;
}

.linkedIn {
  color: white;
  width: 20px;
  height: 20px;
}

.pagesContainer {
  display: flex; 
  flex-direction: column;
  align-items: center;
  width: 100%;

  @media (max-width: 767px) {
    gap: 5px;
    padding-bottom: 20px;
  }
  
  @media (min-width: 768px) and (max-width: 1023px) {
    gap: 25px;
    /* padding-top: 20px; */
  }

}

.page {
  color: white;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
  cursor: pointer;

  @media (max-width: 767px) {
    font-size: 14px;
  }
  
  @media (min-width: 768px) and (max-width: 1023px) {
    font-size: 22px;
  }
  
  @media (min-width: 1024px) {
    font-size: 18px;
  }
}

.privacy {
  color: white;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
  cursor: pointer;
  margin-top: 10px;

  @media (max-width: 767px) {
    font-size: 12px;
  }
  
  @media (min-width: 768px) and (max-width: 1023px) {
    font-size: 16px;
  }
  
  @media (min-width: 1024px) {
    font-size: 14px;
    /* text-align: right; */

    /* margin-right: 30px !important; */
  }
}

.copyrightContainer {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  margin-bottom: 20px;
  height: 100%;
}

.copyright {
  color: white;
  font-weight: 300;
  font-family: "Poppins", sans-serif;

  @media (max-width: 767px) {
    font-size: 12px;
    /* margin-top: 10px; */
  }
  
  @media (min-width: 768px) and (max-width: 1023px) {
    font-size: 16px;
    /* margin-top: 10px; */
  }
  
  @media (min-width: 1024px) {
    font-size: 14px;
    /* text-align: right;
    margin-right: 30px !important; */
  }
}

/* computer */

.bottomContainerComputer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 95%;
  align-items: center;
}

.logoContainerComputer {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}


.companyNameContainerComputer {
  color: white;
  text-decoration: none;
}

.pagesContainerComputer {
    display: flex;
    flex-direction: row;
    gap: 80px;
    
}