.container {
  background: #4f586d;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;

  @media (max-width: 767px) {
    align-items: center;
    justify-content: center;
  }
}

.box {
  display: flex;
  height: 100%;
  align-items: center;
  
  @media (max-width: 767px) {
    flex-direction: column;
  }
  
  @media (min-width: 768px) and (max-width: 1023px) {
    flex-direction: row;
  }
  
  @media (min-width: 1024px) {
    flex-direction: row;
  }
}

.header {
  display: flex;
  font-weight: 600;
  color: white;
  font-family: "Poppins", sans-serif;
  
  @media (max-width: 767px) {
    font-size: 25px;
    gap: 10px;
    margin-top: 40px;
  }
  
  @media (min-width: 768px) and (max-width: 1023px) {
    font-size: 30px;
    flex-direction: column;
    gap: 20px;
    padding: 30px 30px;
    margin-right: 60px;
  }
  
  @media (min-width: 1024px) {
    font-size: 40px;
    flex-direction: row;
    gap: 10px;
    padding: 30px 0px;
    margin-left: 30px;
    line-height: 40px;
    padding-right: 100px;
  }
}

.buttonContainer {
  display: flex;
  flex-direction: row;

  @media (max-width: 767px) {
    gap: 20px;

  }
  
  @media (min-width: 768px) and (max-width: 1023px) {
    gap: 30px;
  }
  
  @media (min-width: 1024px) {
    gap: 40px;
    margin-right: 30px;
  }
}

.button {
  background-color: #00617C;
  border: none;
  color: white;
  cursor: pointer;
  height: 56px;
  line-height: 56px;
  font-weight: 700;
  border-radius: 4px;
  text-decoration: none;
  font-family: "Poppins", sans-serif;

  @media (max-width: 767px) {
    font-size: 16px;
    margin-top: 20px;
    padding: 0 30px;
    margin-bottom: 20px;
  }
  
  @media (min-width: 768px) and (max-width: 1023px) {
    font-size: 16px;
    margin-top: 20px;
    padding: 0 50px;
    margin-bottom: 20px;
  }
  
  @media (min-width: 1024px) {
    font-size: 20px;
    margin-top: 20px;
    /* padding: 0 60px; */
    margin-bottom: 20px;
    width: 250px;
  }
}

.line {
  width: 80%;
}

.bottomContainer {
  display: flex;

  @media (max-width: 767px) {
    flex-direction: column !important;
  }
  
  @media (min-width: 768px) and (max-width: 1023px) {
    flex-direction: column !important;
  }
  
  @media (min-width: 1024px) {
    flex-direction: row !important;
    align-items: center;

  }
}

.logos {
  display: flex;
  
  @media (max-width: 767px) {
    align-items: center;
    justify-content: center;
    width: 100%;

  }
  
  @media (min-width: 768px) and (max-width: 1023px) {
    align-items: center;
    justify-content: center;
    margin-top: 5px;
    gap: 30px;
    width: 100%;

  }
  
  @media (min-width: 1024px) {
    align-items: flex-start;
    margin-right: 250px;
    margin-left: 20px;
  }
}

.logoContainer {
  display: flex;
  flex-direction: row;
  align-items: center;

  @media (max-width: 767px) {
    gap: 10px;
  }
  
  @media (min-width: 768px) and (max-width: 1023px) {
    gap: 20px;
  }
  
  @media (min-width: 1024px) {
    gap: 10px;
  }
}

.logo {

  @media (max-width: 767px) {
    width: 80px;
    height: 80px;
  }
  
  @media (min-width: 768px) and (max-width: 1023px) {
    width: 100px;
    height: 100px;
  }
  
  @media (min-width: 1024px) {
    width: 100px;
    height: 100px;
  }
}

.link {
  text-decoration: none;
}

.companyNameContainer {
  display: flex;
  flex-direction: column;
  
  text-decoration: none;
  color: white;
  
  @media (max-width: 767px) {
    line-height: 18px;
  }
  
  @media (min-width: 768px) and (max-width: 1023px) {
    line-height: 35px;
  }
  
  @media (min-width: 1024px) {
  }
}

.companyName1 {
  font-weight: 600;
}

.companyName2 {
  font-weight: 300;
}

.companyName1, .companyName2 {
  font-family: "Poppins", sans-serif;

  @media (max-width: 767px) {
    font-size: 16px;
  }
  
  @media (min-width: 768px) and (max-width: 1023px) {
    font-size: 30px;
    line-height: 35px;
  }
  
  @media (min-width: 1024px) {
    font-size: 30px;
    line-height: 30px;
  }
}



.linkedInContainer {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: #00617C;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: -10px;
}

.linkedIn {
  color: white;
  width: 20px;
  height: 20px;
}

.pagesContainer {
  display: flex;
  /* justify-content: center; */
  

  @media (max-width: 767px) {
    flex-direction: column;
    align-items: center;
    gap: 5px;
    padding-bottom: 20px;
    width: 100%;
  }
  
  @media (min-width: 768px) and (max-width: 1023px) {
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 15px;
    margin-bottom: 40px;
  }
  
  @media (min-width: 1024px) {
    flex-direction: row;
    gap: 150px;
    margin-bottom: 20px;
    margin-top: 10px;
  }
}

.page {
  color: white;
  font-weight: 600;
  font-family: "Poppins", sans-serif;

  @media (max-width: 767px) {
    font-size: 14px;
  }
  
  @media (min-width: 768px) and (max-width: 1023px) {
    font-size: 22px;
  }
  
  @media (min-width: 1024px) {
    font-size: 14px;
  }
}

.copyrightContainer {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  margin-bottom: 20px;
}

.copyright {
  color: white;
  font-weight: 300;
  font-family: "Poppins", sans-serif;

  @media (max-width: 767px) {
    font-size: 12px;
    margin-top: 10px;
  }
  
  @media (min-width: 768px) and (max-width: 1023px) {
    font-size: 18px;
    margin-top: 10px;
  }
  
  @media (min-width: 1024px) {
    font-size: 14px;
    text-align: right;
    margin-right: 30px !important;
  }
}