/* page.module.css */

.pageHeader {
  display: flex;
  width: 100%;
  background: #00617C;
  justify-content: center;
  flex-direction: column;
  align-items: center;

  @media (max-width: 767px) {
    padding: 50px 0;
    line-height: 50px;
    gap: 20px;
  }
  
  @media (min-width: 768px) and (max-width: 1023px) {
    padding: 50px 0;
    line-height: 50px;
    gap: 20px;
  }
  
  @media (min-width: 1024px) {
    padding: 70px 0;
    line-height: 50px;
    gap: 20px;
  }
}

.header {
  font-weight: 700;
  color: white;
  font-family: "Poppins", sans-serif;
  background: #09B089;

  @media (max-width: 767px) {
    font-size: 40px;
    padding: 10px 4px;

  }
  
  @media (min-width: 768px) and (max-width: 1023px) {
    font-size: 60px;
    padding: 15px 6px;
  }
  
  @media (min-width: 1024px) {
    font-size: 80px;
    padding: 35px 8px;
  }
}

.headerText {
  font-weight: 500;
  color: white;
  font-family: "Poppins", sans-serif;
  text-align: center;

  @media (max-width: 767px) {
    font-size: 14px;
    line-height: 22px;
    width: 80%;
  }
  
  @media (min-width: 768px) and (max-width: 1023px) {
    font-size: 16px;
    line-height: 28px;
    width: 80%;
  }
  
  @media (min-width: 1024px) {
    font-size: 20px;
    line-height: 30px;
    width: 80%;
  }
}

.arrow {
  color: white;

  @media (max-width: 767px) {
    font-size: 40px;
  }
  
  @media (min-width: 768px) and (max-width: 1023px) {
    font-size: 60px;
  }
  
  @media (min-width: 1024px) {
    font-size: 60px;
  }

  animation: up-down 1s ease infinite;
}

@keyframes up-down {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px);
  }

}