/* page.module.css */

.container {
  background: #EFF0F0;
  padding: 40px;
}

.headerContainer {
  display: flex;
  flex-direction: column;
}

.header, .header2 {
  font-weight: 700;
  color: #005773;
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  margin-bottom: 20px;
}

.header2 {
  margin-top: 60px;
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.instruction {
  font-weight: 300;
  color: #002D49;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  width: 60%;
  display: flex;
  flex-direction: row;
}

.instruction span {
  font-style: italic;
  font-weight: 400;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  margin-top: 20px;
}

.formInputs {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  gap: 20px;
}

.formInputs span {
  color: red;
  font-weight: 500;
  color: #002D49;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
}


.formInputsLeft, .formInputsRight {
  display: flex;
  flex-direction: column;
  width: 50%;
  /* gap: 10px; */
}

.form input,
.form textarea {
  padding: 10px;
  font-size: 16px;
  box-shadow: 0px 0px 8px 0px rgba(62, 53, 82, 0.16);
  border: 1px solid #EFF0F0;
  border-radius: 4px;
  margin-bottom: 10px;
  font-weight: 300;
  /* color: #005773; */
  font-family: "Poppins", sans-serif;
  font-size: 16px;
}

.form textarea {
  height: 106px;
}

.form textarea:focus {
  outline: none;
}

.buttonContainer {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 60px;
  position: relative;
}

.button {
  padding: 10px 40px;
  font-size: 18px;
  cursor: pointer;
  background: #09B089;
  border: none;
  color: white;
  border-radius: 4px;
  font-weight: 700;
  box-shadow: 0px 0px 8px 0px rgba(62, 53, 82, 0.16);
  transition: all 0.3s ease-in-out;
}

.button:hover {
  background: #008489;
}

.resetButton {
  background: none;
  border: none;
  position: absolute;
  margin-left: 300px;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 16px;
  color: #008489;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.resetButton:hover {
  color: #002D49;
}

.filter {
  margin-bottom: 20px;
  position: relative;
  display: flex;
  flex-direction: column;
  /* padding: 10px 20px; */
  justify-content: center;
  gap: 3px;
  width: 400px;
}

.leftIcon {
  font-family: "Poppins", sans-serif;
  color: #005773;
  font-size: 24px;
}

.filterInputContainer {
  position: relative;
  display: flex;
  flex-direction: row;
  /* padding: 10px 20px; */
  justify-content: space-between;
  gap: 3px;
  /* width: 85%; */
  background: white;
  box-shadow: 0px 0px 8px 0px rgba(62, 53, 82, 0.16);
  border-radius: 4px;
  align-items: center;
}

.filter input {
  padding: 10px;
  font-size: 16px;
  width: 300px;
  border: none;
  border-radius: 4px;
  font-weight: 300;
  font-family: "Poppins", sans-serif;
}

.clearIcon {
  cursor: pointer;
  color: #002D49;
  font-size: 1.2rem;
  padding: 10px;
}

.suggestions {
  position: absolute;
  width: 400px;
  top: 100%;
  left: 0;
  right: 0;
  box-shadow: 0px 0px 8px 0px rgba(62, 53, 82, 0.16);
  background: white;
  max-height: 250px;
  overflow-y: auto;
  z-index: 10;
  /* padding: 10px; */
  margin-top: 5px;
  display: flex;
  flex-direction: column;
  border-radius: 4px;
}

.suggestions span {
  padding: 10px;
  cursor: pointer;
}

.suggestions span:hover {
  background: #f0f0f0;
  /* padding: 10px; */
}


.jobList {
  margin-top: 20px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.jobPairContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.jobItem {
  width: 500px; /* Each job item takes half the width */
  box-sizing: border-box; /* Ensure padding and border are included in the width */
  padding: 20px;
  box-shadow: 0px 0px 8px 0px rgba(62, 53, 82, 0.16);
  border: 1px solid #EFF0F0;
  border-radius: 4px;
  margin-bottom: 10px;
  background: white;
  border-radius: 4px;
}

/* Adjust as needed for responsiveness */
@media (max-width: 768px) {
  .jobItem {
    width: 100%; /* Stack jobs vertically on smaller screens */
  }
}

.jobHeader {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  line-height: 20px;
  /* padding-bottom: 16px; */
  display: flex;
  align-items: center;
  margin: 0;
  font-weight: 600;
  color: #005773;
}

.jobItem span {
  background-color: #EFF0F0;
  border-radius: 8px;
  padding: 0px 8px;
  text-align: center;
  display: inline-flex;
  margin-bottom: 0;
  align-items: center;
  column-gap: 10px;
  font-weight: 500;
  font-size: 12px;
  margin-right: 10px;
  margin-top: 5px;
}

.infoHeader {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  line-height: 20px;
  /* padding-bottom: 16px; */
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  margin-top: 25px;
  font-weight: 500;
  gap: 10px;
}

.infoHeader div {
  font-weight: 400;
  font-style: italic;
}

.jobDescription, .jobDetails ul {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  line-height: 20px;
  /* padding-bottom: 16px; */
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  font-weight: 300;
}

.jobDetails ul {
  padding-left: 20px;
  margin: 0;
}

.jobDetails {
  display: flex;
  flex-direction: column;
  /* animation: slideIn 0.5s forwards; */
  /* justify-content: center;
  align-items: center; */
}

/* .jobItem:hover .jobDetails {
  display: block;
} */

@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateX(100%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.updateButton, .deleteButton {
  color: white;
  font-weight: 700;
  font-family: "Poppins", sans-serif;
  border: none;
  border-radius: 4px;
  width: 150px;
  padding: 6px;
  font-size: 16px;
  margin: 5px;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  align-self: center;
}

.updateButton {
  background-color: #002D49;
  margin-top: 20px;
}

.updateButton:hover {
  background-color: #005773;
}

.deleteButton {
  background-color: #008489;
}

.deleteButton:hover {
  background-color: #09B089;
}

.paginationContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pagination {
  display: flex;
  justify-content: space-between;
  align-items: center;
  justify-content: center;
  align-self: center;
  margin: 20px 0;
  /* width: 200px; */
  background-color: #EFF0F0;
  border-radius: 8px;
  padding: 5px 15px;
}