/* page.module.css */

.container {
  background: #EFF0F0;
  padding: 40px;
}

.headerContainer {
  display: flex;
  flex-direction: column;
}

.header {
  font-weight: 700;
  color: #005773;
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  margin-bottom: 20px;
}

.instruction {
  font-weight: 300;
  color: #002D49;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  width: 60%;
  display: flex;
  flex-direction: row;
}

.instruction span {
  font-style: italic;
  font-weight: 400;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}

.formInputs {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  gap: 20px;
}

.formInputsLeft, .formInputsRight {
  display: flex;
  flex-direction: column;
  width: 50%;
  gap: 10px;
}

.form input,
.form textarea {
  padding: 10px;
  font-size: 16px;
  box-shadow: 0px 0px 8px 0px rgba(62, 53, 82, 0.16);
  border: 1px solid #EFF0F0;
  border-radius: 4px;
}

/* .form textarea {
  line-height: 1.5;
  background-image: linear-gradient(white 1px, transparent 1px),
                    linear-gradient(to right, white 1px, transparent 1px);
  background-size: 100% 1.5em;
  background-position: 0 0.75em;
  border: 1px solid #ccc;
  padding: 0.75em 10px;
} */

.form button {
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
}

.filter {
  margin-bottom: 20px;
  position: relative;
}

.filter input {
  padding: 10px;
  font-size: 16px;
  width: 100%;
}

.suggestions {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  border: 1px solid #ccc;
  background: white;
  max-height: 150px;
  overflow-y: auto;
  z-index: 10;
}

.suggestions li {
  padding: 10px;
  cursor: pointer;
}

.suggestions li:hover {
  background: #f0f0f0;
}

.job-list {
  margin-top: 20px;
}

.job-item {
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 10px;
  cursor: pointer;
  position: relative;
}

.job-details {
  display: none;
  animation: slideIn 0.5s forwards;
}

.job-item:hover .job-details {
  display: block;
}

@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateX(100%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.update-button {
  background-color: #4CAF50;
  color: white;
}

.delete-button {
  background-color: #f44336;
  color: white;
  margin-left: 10px;
}
