.container {
  height: 200px;
  /* overflow: hidden; */
  /* box-shadow: 0px 8px 24px rgba(62, 53, 82, 0.16); */
  border-radius: 10px;
  /* background-image: #09B089; */
  background: #EFF0F0;
  padding: 30px 30px;
  text-align: center;
  color: white;
  position: relative;
  margin-top: 20px;
  margin-bottom: 50px;
  align-content: center;
  text-align: left;
  background-image: linear-gradient(to right, #002D49, #008489, #09B089, #8CD87A, #F9F871);
  background-size: 100% 3px; /* Adjust the height of the line as needed */
  background-position: bottom;
  background-repeat: no-repeat;
}


.container:hover {
  /* background-image: linear-gradient(180deg, rgba(9,176,137,1) 0%, rgba(0,97,124,1) 48%, rgba(0,45,73,1) 100%); */
  background-color: #002D49;
  transition: background-color 0.3s ease-in;
}

.swiperContainer {
  width: 150%;
  display: flex;
  justify-content: center;
  height: 80%;
}

.swiper {
  width: 100% !important;
  height: 80% !important;
}

.swiper-wrapper {
  margin-left: 100px !important;
}

.swiper-pagination {
  position: absolute !important; /* Use absolute positioning */
  bottom: 20px !important; /* Adjust the distance from the bottom as needed */
  left: 50% !important; /* Center horizontally */
  transform: translateX(-50%) !important; /* Center horizontally */
}

.swiper-slide {
  display: flex !important;
  justify-content: center !important
}


.title {
  color: #008489;
  font-weight: 700;
  font-family: "Poppins", sans-serif;
  margin-bottom: 10px;

  @media (max-width: 767px) {
    font-size: 50px !important;
  }
  
  @media (min-width: 768px) and (max-width: 1023px) {
    font-size: 40px !important;
  }
  
  @media (min-width: 1024px) {
    font-size: 40px !important;
  }
}

.text {
  color: #002D49;
  font-weight: 700;
  font-family: "Poppins", sans-serif;
  line-height: 150%;

  @media (max-width: 767px) {
    font-size: 18px !important;
  }
  
  @media (min-width: 768px) and (max-width: 1023px) {
    font-size: 40px !important;
  }
  
  @media (min-width: 1024px) {
    font-size: 40px !important;
  }
}

.buttonContainer {
  /* margin-top: 20px;
  position: absolute;
  bottom: 20px; 
  left: 50%;
  transform: translateX(-50%); */
}

.button {
  background-color: transparent !important; 
  color: white; 
  border: 1px solid white;
  padding-left: 15px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Poppins", sans-serif;
  padding-top: 5px;
  padding-bottom: 5px;

  @media (max-width: 767px) {
    font-size: 14px !important;
  }
  
  @media (min-width: 768px) and (max-width: 1023px) {
    font-size: 40px !important;
  }
  
  @media (min-width: 1024px) {
    font-size: 40px !important;
  }
}

.buttonActive {
  color: #002D49;
  background-color: white !important;
}