.workContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  /* align-items: center; */
}

.headerContent {
  position: relative;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.headerContainer {
  display: flex;
  width: 100%;
  height: auto;
  background: #002D49;
  position: relative;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  
  @media (min-width: 768px) and (max-width: 1023px) {
    flex-direction: row;
  }
  
  @media (min-width: 1024px) {
    flex-direction: row;
  }
}

.headerImageContainer {
  display: flex;
  position: inherit;
  height: auto;
  width: 100%;

  @media (min-width: 768px) and (max-width: 1023px) {
    width: 50%;
    order: 2;
  }

  @media (min-width: 1024px) {
    width: 50%;
    order: 2;
  }
}

.headerImage {
  object-fit: cover;
  height: 250px;
  width: 100%;

  @media (min-width: 768px) and (max-width: 1023px) {
    height: 300px;
  }

  @media (min-width: 1024px) {
    height: 500px;
  }
}

.headerTextContainer {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  width: 75%;
  padding: 50px 0px;
  gap: 30px;

  @media (min-width: 768px) and (max-width: 1023px) {
    width: 50%;
  }

  @media (min-width: 1024px) {
    width: 50%;
  }
}

.mainHeader {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 40px;

  @media (min-width: 1024px) {
    font-size: 60px;
  }
}

.mainText {
  font-family: "Poppins", sans-serif;
  color: white;
  font-weight: 400;
  display: flex;

  @media (min-width: 768px) and (max-width: 1023px) {
    padding: 0 30px;
  }

  @media (min-width: 1024px) {
    padding: 0 30px;
    font-size: 18px;
    line-height: 30px;
  }
}

.services, .about, .testimonials, .services2 {
  /* position: absolute; */
  z-index: 10;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  left: 0;
  right: 0;
  align-content: center;
  /* height: 100%; */
  text-align: center;
  flex-direction: column;
}

.services2 {
  margin-bottom: 40px;
}

.servicesContent, .aboutContent, .testimonialsContent {
  width: 80%;
}

.header1 {
  color: #002D49;
  font-weight: 700;
  font-family: "Poppins", sans-serif;
  font-size: 25px;
  line-height: 125%;
  margin-top: 40px;
  margin-bottom: 20px;
  
  @media (min-width: 768px) and (max-width: 1023px) {
    font-size: 30px;
  }
  
  @media (min-width: 1024px) {
    font-size: 40px;
  }
}

.text {
  font-weight: 300;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  
  @media (min-width: 768px) and (max-width: 1023px) {
    font-size: 16px;
  }
  
  @media (min-width: 1024px) {
    font-size: 18px;
  }
}

.quoteContainer {
  width: 100%;
  display: flex;
  align-content: center;
  justify-content: center;
  background: #EFF0F0;
}

.textBox {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 80%;
  padding: 50px 0px;
  
  @media (min-width: 768px) and (max-width: 1023px) {
    width: 70%;
  }
  
  @media (min-width: 1024px) {
    width: 70%;
    padding: 100px 0px;
  }
}

.quote {
  display: flex;
  align-content: center;
  justify-content: center;
  flex-direction: column;
  
  @media (min-width: 768px) {
    flex-direction: row;
  }
}

.quotationMark1, .quotationMark2 {
  color: #008489;
  font-size: 20px;
  
  @media (min-width: 768px) and (max-width: 1023px) {
    font-size: 30px;
  }
  
  @media (min-width: 1024px) {
    font-size: 40px;
  }
}

.quotationMark1 {
  display: flex;
}

.quotationMark2 {
  display: flex;
  justify-content: flex-end;
  
  @media (min-width: 768px) and (max-width: 1023px) {
    flex: none; 
    align-self: flex-end;
  }
  
  @media (min-width: 1024px) {
    flex: none; 
    align-self: flex-end;
  }
}

.quoteBox {
  display: flex;
  flex-direction: column;
  gap: 10px;
  
  @media (min-width: 768px) {
    gap: 20px;
  }
}

.quoteText {
  color: #002D49;
  font-weight: 600;
  line-height: 150%;
  font-size: 18px;
  padding: 0px 30px;
  padding-top: 20px;
  
  @media (min-width: 768px) and (max-width: 1023px) {
    font-size: 25px;
    padding: 0px 50px;
  }
  
  @media (min-width: 1024px) {
    font-size: 30px;
    padding: 0px 50px;
  }
}

.quoter {
  color: #002D49;
  font-weight: 600;
  font-size: 14px;
  padding: 0px 30px;
  
  @media (min-width: 768px) and (max-width: 1023px) {
    font-size: 18px;
    padding: 0px 50px;
  }
  
  @media (min-width: 1024px) {
    font-size: 20px;
    padding: 0px 50px;
  }
}

.servicesInfo {
  display: flex;
  flex-direction: row;
  width: 95%; 
  padding: 60px 0px;
  align-self: center;
  gap: 40px;
}

.servicesInfoLeft, .servicesInfoRight {
  width: 50%;
  display: flex;
  flex-direction: column;
}

.servicesInfoRight {
  gap: 40px;

  @media (min-width: 1024px) {
    margin-top: 10px;
  }
}

.servicesHeader {
  color: #002D49;
  font-weight: 700;
  font-family: "Poppins", sans-serif;
  font-size: 25px;
  line-height: 125%;
  
  @media (min-width: 768px) and (max-width: 1023px) {
    font-size: 30px;
  }
  
  @media (min-width: 1024px) {
    font-size: 40px;
  }
}

.buttonContainer {
  align-self: center;
  margin-top: 60px;
}

.button {
  background-color: #00617C;
  color: white; 
  font-weight: 600;
  border-radius: 4px;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Poppins", sans-serif;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  font-size: 16px;
  padding: 15px 80px;
  margin-bottom: 60px;

  @media (min-width: 768px) {
    font-size: 20px;
  }
}

.button:hover {
  background-color: #002D49;
}

.textContainer {
  display: flex;
  color: #002D49;
  flex-direction: column;
  gap: 30px;
  line-height: 30px;
}

.header2 {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 18px;
  display: flex;
  width: 100%;
  flex-direction: row;
  align-items: center;
  gap: 10px;

  @media (min-width: 1024px) {
    font-size: 25px;
  }
}

.tick {
  color: white;
  background-color: #005773;
  border-radius: 50%;
  padding: 4px;
}

.text2 {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  text-align: left;

  @media (min-width: 768px)  {
    font-size: 20px;
    line-height: 30px;
  }
}






.aboutBox {
  display: flex;
  width: 100%;
  align-items: center;
  flex-direction: row;

  @media (min-width: 768px) and (max-width: 1023px) {
    flex-direction: row;
    padding-bottom: 80px;
  }
}

.aboutBox:nth-child(odd) {
  justify-content: flex-start;
}

.aboutBox:nth-child(even) {
  justify-content: flex-end;
}


.imageContainer1, .imageContainer2 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 85%;

  @media (min-width: 1024px) {
    width: 50%;
    padding: 30px;
  }
}

.imageContainer1 {
  @media (min-width: 768px) and (max-width: 1023px) {
    order: 1;
    /* padding-right: 20px; */
  }

  @media (min-width: 1024px) {
    order: 1;
    margin-right: 30px;
    margin-top: 40px;
  }
}

.image {
  border-radius: 20px;
  height: 100%;
  width: 100%;

  @media (min-width: 768px) and (max-width: 1023px) {
    height: 90%;
    width: 90%;
  }

  @media (min-width: 1024px) {
    height: 100%;
    width: 100%;
  }
}

.image2 {
  border-radius: 20px;
  height: 100%;
  width: 100%;

  @media (min-width: 768px) and (max-width: 1023px) {
    height: 80%;
    width: 80%;
  }

  @media (min-width: 1024px) {
    height: 50%;
    width: 50%;
  }
}

.consultation {
  background-color: #008489;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 300px;
  gap: 20px;

  @media (min-width: 768px) {
    gap: 30px;
  }
}

.consultationHeader {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  color: white;
  text-align: center;
  display: flex;
  font-size: 24px;
  line-height: 30px;

  @media (min-width: 768px) and (max-width: 1023px) {
    font-size: 34px;
    line-height: 40px;
    gap: 10px;
  }

  @media (min-width: 1024px) {
    font-size: 40px;
    line-height: 40px;
    gap: 10px;
  }
}

.consultationText {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  color: white;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  line-height: 25px;
  flex-direction: column;
  width: 70%;

  @media (min-width: 768px) and (max-width: 1023px) {
    font-size: 20px;
    line-height: 30px;
  }

  @media (min-width: 1024px) {
    font-size: 24px;
    /* padding-top: 40px; */
    line-height: 35px;
  }
}

.consultationButtonAnchor {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 90%;

  @media (min-width: 768px) and (max-width: 1023px) {
    width: 40%;
  }

  @media (min-width: 1024px) {
    width: 30%;
  }
}

.consultationButton {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  color: #005773;
  display: flex;
  align-items: center;
  background: white;
  border: solid 1px white;
  border-radius: 4px;
  cursor: pointer;
  text-align: center;
  width: 100%;
  justify-content: center;
  transition: all 0.3s ease-in-out;
  font-size: 16px;
  line-height: 30px;
  padding: 10px 50px;
  /* margin-bottom: 40px; */

  @media (min-width: 768px) and (max-width: 1023px) {
    font-size: 20px;
  }

  @media (min-width: 1024px) {
    font-size: 22px;
    padding: 15px 50px;
  }
}

.consultationButton:hover {
  color: white;
  background: none;
}





.aboutHeader {
  color: #002D49;
  font-weight: 700;
  font-family: "Poppins", sans-serif;
  font-size: 22px;
  line-height: 125%;
  margin-bottom: 20px;
  
  @media (min-width: 768px) and (max-width: 1023px) {
    font-size: 30px;
    margin-top: 40px;
  }
  
  @media (min-width: 1024px) {
    font-size: 45px;
    margin-top: 40px;
  }
}



.about {
  flex-direction: column;
  align-items: center;
  margin-bottom: 60px;
  
  @media (min-width: 768px) and (max-width: 1023px) {
    margin-bottom: 80px;
  }
  
  @media (min-width: 1024px) {
    margin-bottom: 80px;
  }
}

.aboutButton {
  background: #005773;
  border: none;
  border-radius: 5px;
  color: white;
  font-weight: 800;
  font-family: "Poppins", sans-serif;
  line-height: 50px;
  margin-top: 40px;
  margin-bottom: 40px;
  cursor: pointer;
  width: 300px;
  font-size: 16px;

  @media (min-width: 1024px) {
    width: 250px;
    font-size: 18px;
  }
}

.testimonials {
  background: #EFF0F0;
}