.servicesContainer {
  display: flex;
  flex-direction: row;
  gap: 60px;
  width: 90%;
  justify-content: center;
  align-items: center;
}

.container {
  height: 200px;
  /* overflow: hidden; */
  box-shadow: 0px 8px 24px rgba(62, 53, 82, 0.16);
  border-radius: 24px;
  /* background-image: #09B089; */
  background: #09B089;
  text-align: center;
  color: white;
  position: relative;
  margin-top: 20px;
  margin-bottom: 50px;
  justify-content: center;
  display: flex;
  flex-direction: column;

  @media (max-width: 767px) {
    padding: 25px 25px;
  }
  
  @media (min-width: 768px) and (max-width: 1023px) {
    padding: 25px 25px;
  }
  
  @media (min-width: 1024px) {
    padding: 40px 25px;
    width: 350px;
  }
}


.container:hover {
  background-color: #002D49;
  transition: background-color 0.3s ease-in;
  cursor: pointer;
}

.swiperContainer {
  width: 150%;
  display: flex;
  justify-content: center;
  height: 80%;
}

.swiper {
  width: 100% !important;
  height: 80% !important;
}

.swiper-pagination {
  position: absolute !important; /* Use absolute positioning */
  bottom: 20px !important; /* Adjust the distance from the bottom as needed */
  left: 50% !important; /* Center horizontally */
  transform: translateX(-50%) !important; /* Center horizontally */
}


.content {

}

.title {
  color: white;
  font-weight: 700;
  font-family: "Poppins", sans-serif;
  margin-bottom: 10px;

  @media (max-width: 767px) {
    font-size: 24px !important;
  }
  
  @media (min-width: 768px) and (max-width: 1023px) {
    font-size: 26px !important;
  }
  
  @media (min-width: 1024px) {
    font-size: 26px !important;
  }
}

.text {
  color: white;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
  line-height: 150%;

  @media (max-width: 767px) {
    font-size: 14px !important;
  }
  
  @media (min-width: 768px) and (max-width: 1023px) {
    font-size: 15px !important;
  }
  
  @media (min-width: 1024px) {
    font-size: 16px !important;
  }
}

.buttonContainer {
  margin-top: 20px;
  display: flex;
  justify-content: center; /* Horizontally center the button */
  align-items: center;
}

.button {
  background-color: transparent !important; 
  color: white; 
  border: 1px solid white;
  padding-left: 15px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Poppins", sans-serif;
  padding-top: 5px;
  padding-bottom: 5px;

  @media (max-width: 767px) {
    font-size: 14px !important;
  }
  
  @media (min-width: 768px) and (max-width: 1023px) {
    font-size: 14px !important;
  }
  
  @media (min-width: 1024px) {
    font-size: 16px !important;
  }
}

.buttonActive {
  color: #002D49;
  background-color: white !important;
  cursor: pointer;
}