/* dropdownButton.module.css */

.dropdownContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  min-width: 220px;
  height: 100%;
  margin-left: 20px;
}

.dropdownContainer span {
  font-size: 12px;
  cursor: default;
  color: #aaa;
  line-height: 10px;
  /* padding: 0px 2px; */
}

.arrow {
  margin-left: 70px; /* Space between text and arrow */
  transform: rotate(90deg);
  font-size: 18px;
}

.arrow.open {
  transform: rotate(270deg); /* Rotate arrow when dropdown is open */
}

.dropdownButton {
  color: #005773;
  font-size: 15px;
  border: none;
  background: transparent;
  font-family: inherit;
  text-align: left !important;
  align-items: flex-start;
  display: flex;
  padding: 0; /* Ensure padding is set to 0 */
  margin: 0;  /* Ensure margin is set to 0 */
  justify-content: left;
  cursor: pointer; /* Add cursor pointer for better UX */
}

.dropdownList {
  position: absolute;
  top: 100%; /* Position list below the button */
  left: 0;
  background: white;
  border-radius: 10px;
  width: 100%;
  list-style: none;
  padding: 0;
  margin: 10px 0 0 0; /* Add margin-top of 20px */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  transition: all 0.3s ease-in-out;
}

.dropdownItem {
  padding: 12px 16px;
  cursor: pointer;
}

.dropdownItem:hover {
  background: #e7e6e6;
}

.dropdownItem:first-child:hover {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.dropdownItem:last-child:hover {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}