/* dropdownButton.module.css */

.dropdownContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  min-width: 220px;
  height: 100%;
  margin-left: 20px;
  gap: 3px;
}

.dropdownContainer span {
  font-size: 12px;
  cursor: default;
  color: #aaa;
  line-height: 10px;
  /* padding: 0px 2px; */
}

.arrow {
  margin-left: 70px; /* Space between text and arrow */
  transform: rotate(90deg);
  font-size: 18px;
}

.arrow.open {
  transform: rotate(270deg); /* Rotate arrow when dropdown is open */
}

.dropdownButton {
  color: #005773;
  font-size: 15px;
  border: none;
  background: transparent;
  font-family: inherit;
  text-align: left !important;
  align-items: flex-start;
  display: flex;
  padding: 0; /* Ensure padding is set to 0 */
  margin: 0;  /* Ensure margin is set to 0 */
  justify-content: left;
  cursor: pointer; /* Add cursor pointer for better UX */
}

.dropdownList {
  position: absolute;
   /* Position below the search form */
  left: 0;
  background-color: white;
  border: none;
  z-index: 1000; /* Ensure it appears above other elements */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-height: 215px;
  overflow-y: auto;
  border-radius: 8px;
  text-align: left;
  font-family: "Poppins", sans-serif;
  font-weight: 300;

  @media (max-width: 767px) {
    top: 50%;
    margin-left: 15px;
    width: 320px;
  }
  
  @media (min-width: 768px) and (max-width: 1023px) {
    top: 100%;
    margin-top: 5px;
    width: 470px;
  }
  
  @media (min-width: 1024px) {
    width: 220px;
    margin-top: 5px;
    top: 100%;
  }
}

.dropdownList ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.dropdownList li {
  padding: 15px;
  cursor: pointer;
  padding-left: 25px;
  font-size: 14px;
}

.dropdownList li:hover {
  background-color: #f0f0f0;
}

.dropdownList::-webkit-scrollbar {
  width: 8px; /* Width of the scrollbar */
}

.dropdownList::-webkit-scrollbar-track {
  background: #f1f1f1; /* Background of the scrollbar track */
  border-radius: 10px;
}

.dropdownList::-webkit-scrollbar-thumb {
  background: #888; /* Color of the scrollbar handle */
  border-radius: 10px;
}