.aboutContainer {
  display: flex;
  flex-direction: row;
  gap: 20px;
  justify-content: center;
}

.container {
  height: 200px;
  /* overflow: hidden; */
  /* box-shadow: 0px 8px 24px rgba(62, 53, 82, 0.16); */
  border-radius: 10px;
  /* background-image: #005773; */
  background: #EFF0F0;
  padding: 30px 30px;
  color: white;
  position: relative;
  margin-top: 20px;
  margin-bottom: 50px;
  align-content: center;
  text-align: left;
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  background-image: linear-gradient(to right, #002D49, #008489, #005773, #8CD87A, #F9F871);
  background-size: 100% 3px; /* Adjust the height of the line as needed */
  background-position: bottom;
  background-repeat: no-repeat;

  @media (min-width: 1024px) {
    width: 300px;
  }
}

.swiperContainer {
  width: 150%;
  display: flex;
  justify-content: center;
  height: 80%;
}

.swiper {
  width: 100% !important;
  height: 80% !important;
}

.swiper-pagination {
  position: absolute !important; /* Use absolute positioning */
  bottom: 20px !important; /* Adjust the distance from the bottom as needed */
  left: 50% !important; /* Center horizontally */
  transform: translateX(-50%) !important; /* Center horizontally */
}

.swiper-slide {
  display: flex !important;
  justify-content: center !important
}

.content {

  @media (min-width: 768px) {
    margin-top: 40px;
  }
}

.title {
  color: #008489;
  font-weight: 700;
  font-family: "Poppins", sans-serif;
  margin-bottom: 10px;
  font-size: 30px ;
  line-height: 30px;
}

.text {
  color: #002D49;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  line-height: 150%;
  font-size: 18px;
}